<config>	
	<RomCollections>
		<RomCollection id="1" name="Amiga V1">
			<emulatorCmd>E:\Emulatoren\WINUAE\winuae.exe {-%I% "%ROM%"}</emulatorCmd>
			<xboxCreateShortcut>False</xboxCreateShortcut>
			<xboxCreateShortcutAddRomfile>False</xboxCreateShortcutAddRomfile>
			<xboxCreateShortcutUseShortGamename>False</xboxCreateShortcutUseShortGamename>
			<descFilePerGame>False</descFilePerGame>
			<diskPrefix>_Disk</diskPrefix>
			<allowUpdate>True</allowUpdate>
			<ignoreOnScan>False</ignoreOnScan>
			<searchGameByCRC>True</searchGameByCRC>
			<searchGameByCRCIgnoreRomName>False</searchGameByCRCIgnoreRomName>
			<ignoreGameWithoutDesc>True</ignoreGameWithoutDesc>
			<romPath>TestDataBase\Collection V1\roms\*.adf</romPath>			
			<mediaPath type="boxfront">TestDataBase\Collection V1\cover\%GAME%.*</mediaPath>
			<mediaPath type="action">TestDataBase\Collection V1\screens\%GAME%.*</mediaPath>
			<mediaPath type="developer">TestDataBase\Collection V1\developer\%DEVELOPER%.*</mediaPath>
			<mediaPath type="publisher">TestDataBase\Collection V1\publisher\%PUBLISHER%.*</mediaPath>
			<mediaPath type="console">TestDataBase\consoleImages\%CONSOLE%.*</mediaPath>
			<imagePlacing>gameinfobig</imagePlacing>
			<scraper name="Amiga V1"/>
		</RomCollection>
		<RomCollection id="2" name="Amiga V2">
			<emulatorCmd>E:\Emulatoren\WINUAE\winuae.exe {-%I% "%ROM%"}</emulatorCmd>
			<xboxCreateShortcut>False</xboxCreateShortcut>
			<xboxCreateShortcutAddRomfile>False</xboxCreateShortcutAddRomfile>
			<xboxCreateShortcutUseShortGamename>False</xboxCreateShortcutUseShortGamename>
			<descFilePerGame>True</descFilePerGame>			
			<diskPrefix>_Disk</diskPrefix>			
			<allowUpdate>True</allowUpdate>
			<ignoreOnScan>False</ignoreOnScan>
			<searchGameByCRC>True</searchGameByCRC>
			<searchGameByCRCIgnoreRomName>False</searchGameByCRCIgnoreRomName>
			<ignoreGameWithoutDesc>False</ignoreGameWithoutDesc>
			<romPath>TestDataBase\Collection V2\roms\*.adf</romPath>
			<romPath>TestDataBase\Collection V2\roms\*.ADF</romPath>
			<mediaPath type="boxfront">TestDataBase\Collection V2\cover\%GAME%\*.*</mediaPath>
			<mediaPath type="action">TestDataBase\Collection V2\screens\%GAME%\*.*</mediaPath>
			<mediaPath type="developer">TestDataBase\Collection V2\developer\%DEVELOPER%.*</mediaPath>
			<mediaPath type="publisher">TestDataBase\Collection V2\publisher\%PUBLISHER%.*</mediaPath>
			<imagePlacing>gameinfobig</imagePlacing>
			<scraper name="Amiga V2"/>
		</RomCollection>
		<RomCollection id="3" name="Super Nintendo V1">			
			<emulatorCmd>E:\Emulatoren\SNES\zsnes.exe -m "%ROM%"</emulatorCmd>
			<xboxCreateShortcut>False</xboxCreateShortcut>
			<xboxCreateShortcutAddRomfile>False</xboxCreateShortcutAddRomfile>
			<xboxCreateShortcutUseShortGamename>False</xboxCreateShortcutUseShortGamename>
			<descFilePerGame>False</descFilePerGame>					
			<diskPrefix>_Disk</diskPrefix>			
			<allowUpdate>False</allowUpdate>
			<ignoreOnScan>False</ignoreOnScan>
			<searchGameByCRC>True</searchGameByCRC>
			<searchGameByCRCIgnoreRomName>False</searchGameByCRCIgnoreRomName>
			<ignoreGameWithoutDesc>False</ignoreGameWithoutDesc>
			<romPath>TestDataBase\Collection V3\roms\*.zip</romPath>
			<romPath>TestDataBase\Collection V3\roms\*.smc</romPath>
			<mediaPath type="boxfront">TestDataBase\Collection V3\cover\%GAME%.*</mediaPath>			
			<mediaPath type="action">TestDataBase\Collection V3\screens\%GAME%.*</mediaPath>			
			<mediaPath type="title">TestDataBase\Collection V3\titles\%GAME%.*</mediaPath>			
			<mediaPath type="cartridge">TestDataBase\Collection V3\cartridge\%GAME%.*</mediaPath>			
			<mediaPath type="gameplay">TestDataBase\Collection V3\ingameVids\%GAME%.wmv</mediaPath>
			<mediaPath type="console">TestDataBase\consoleImages\%CONSOLE%.*</mediaPath>			
			<imagePlacing>gameinfobig</imagePlacing>
			<scraper name="SNES V3"/>
		</RomCollection>
		<RomCollection id="4"  name="Super Nintendo V2">
			<emulatorCmd>E:\Emulatoren\SNES\zsnes.exe -m "%ROM%"</emulatorCmd>
			<xboxCreateShortcut>False</xboxCreateShortcut>
			<xboxCreateShortcutAddRomfile>False</xboxCreateShortcutAddRomfile>
			<xboxCreateShortcutUseShortGamename>False</xboxCreateShortcutUseShortGamename>
			<descFilePerGame>False</descFilePerGame>					
			<diskPrefix>_Disk</diskPrefix>			
			<allowUpdate>False</allowUpdate>
			<ignoreOnScan>False</ignoreOnScan>
			<searchGameByCRC>True</searchGameByCRC>
			<searchGameByCRCIgnoreRomName>True</searchGameByCRCIgnoreRomName>
			<ignoreGameWithoutDesc>False</ignoreGameWithoutDesc>
			<romPath>TestDataBase\Collection V4\Roms\*.zip</romPath>
			<romPath>TestDataBase\Collection V4\Roms\*.smc</romPath>
			<mediaPath type="boxfront">TestDataBase\Collection V4\Artwork\Box Front\%GAME%.*</mediaPath>			
			<mediaPath type="action">TestDataBase\Collection V4\Artwork\Action\%GAME%.*</mediaPath>			
			<mediaPath type="title">TestDataBase\Collection V4\Artwork\Title\%GAME%.*</mediaPath>			
			<mediaPath type="cartridge">TestDataBase\Collection V4\Artwork\Cart\%GAME%.*</mediaPath>					
			<mediaPath type="gameplay">TestDataBase\Collection V4\Movies\%GAME%.wmv</mediaPath>
			<imagePlacing>gameinfobig</imagePlacing>
			<scraper name="SNES V4"/>
		</RomCollection>
		<RomCollection id="5"  name="Xbox">			
			<emulatorCmd>%ROM%</emulatorCmd>
			<xboxCreateShortcut>True</xboxCreateShortcut>
			<xboxCreateShortcutAddRomfile>True</xboxCreateShortcutAddRomfile>
			<xboxCreateShortcutUseShortGamename>True</xboxCreateShortcutUseShortGamename>
			<searchGameByCRC>False</searchGameByCRC>
			<ignoreOnScan>False</ignoreOnScan>
			<useFoldernameAsCRC>True</useFoldernameAsCRC>			
			<romPath>TestDataBase\Collection V5\Roms\default.xbe</romPath>						
			<mediaPath type="boxfront">TestDataBase\Collection V5\Artwork\Box Front\%GAME%.*</mediaPath>
			<mediaPath type="screenshot">TestDataBase\Collection V5\Artwork\screenshot\%GAME%.*</mediaPath>
			<imagePlacing>gameinfobig</imagePlacing>
			<scraper name="Xbox V5"/>
		</RomCollection>
		<RomCollection id="6"  name="Sega 32 V1">
			<emulatorCmd>%ROM%</emulatorCmd>
			<xboxCreateShortcut>False</xboxCreateShortcut>
			<xboxCreateShortcutAddRomfile>False</xboxCreateShortcutAddRomfile>
			<xboxCreateShortcutUseShortGamename>False</xboxCreateShortcutUseShortGamename>
			<searchGameByCRC>False</searchGameByCRC>
			<descFilePerGame>True</descFilePerGame>
			<ignoreOnScan>False</ignoreOnScan>						
			<romPath>TestDataBase\Collection V6\Roms\*.zip</romPath>
			<mediaPath type="boxfront">TestDataBase\Collection V6\Artwork\Box Front\%GAME%.*</mediaPath>
			<mediaPath type="screenshot">TestDataBase\Collection V6\Artwork\screenshot\%GAME%.*</mediaPath>
			<imagePlacing>gameinfobig</imagePlacing>
			<scraper name="Sega 32 V6"/>
		</RomCollection>
		<RomCollection id="7"  name="Sega 32 V2">
			<emulatorCmd>%ROM%</emulatorCmd>
			<xboxCreateShortcut>False</xboxCreateShortcut>
			<xboxCreateShortcutAddRomfile>False</xboxCreateShortcutAddRomfile>
			<xboxCreateShortcutUseShortGamename>False</xboxCreateShortcutUseShortGamename>
			<searchGameByCRC>True</searchGameByCRC>
			<useFilenameAsCRC>True</useFilenameAsCRC>
			<descFilePerGame>False</descFilePerGame>
			<ignoreOnScan>False</ignoreOnScan>				
			<romPath>TestDataBase\Collection V7\Roms\*.zip</romPath>
			<mediaPath type="boxfront">TestDataBase\Collection V7\Artwork\Box Front\%GAME%.*</mediaPath>
			<mediaPath type="screenshot">TestDataBase\Collection V7\Artwork\screenshot\%GAME%.*</mediaPath>
			<imagePlacing>gameinfobig</imagePlacing>
			<scraper name="Sega 32 V7" replaceKeyString=" III, II,32x - " replaceValueString=" 3, 2,"/>
		</RomCollection>
	</RomCollections>
	<FileTypes>
		<FileType id="1" name="boxfront">
			<type>image</type>
			<parent>game</parent>
		</FileType>
		<FileType id="2" name="screenshot">
			<type>image</type>
			<parent>game</parent>
		</FileType>
		<FileType id="3" name="action">
			<type>image</type>
			<parent>game</parent>
		</FileType>
		<FileType id="4" name="title">
			<type>image</type>
			<parent>game</parent>
		</FileType>
		<FileType id="5" name="cartridge">
			<type>image</type>
			<parent>game</parent>
		</FileType>		
		<FileType id="6" name="console">
			<type>image</type>
			<parent>console</parent>
		</FileType>
		<FileType id="7" name="developer">
			<type>image</type>
			<parent>developer</parent>
		</FileType>
		<FileType id="8" name="publisher">
			<type>image</type>
			<parent>publisher</parent>
		</FileType>
		<FileType id="9" name="gameplay">
			<type>video</type>
			<parent>game</parent>
		</FileType>
	</FileTypes>
	<ImagePlacing>
		<fileTypeFor name="gameinfobig">
			<fileTypeForGameList>boxfront</fileTypeForGameList>
			<fileTypeForGameListSelected>title</fileTypeForGameListSelected>			
			<fileTypeForGameInfoViewBackground>boxfront</fileTypeForGameInfoViewBackground>
			<fileTypeForMainView1>boxfront</fileTypeForMainView1>
			<fileTypeForMainView2>boxfront</fileTypeForMainView2>
			<fileTypeForMainView3>boxfront</fileTypeForMainView3>
			<fileTypeForMainViewGameInfoBig>boxfront</fileTypeForMainViewGameInfoBig>
			<fileTypeForMainViewGameInfoUpperLeft>boxfront</fileTypeForMainViewGameInfoUpperLeft>
			<fileTypeForMainViewGameInfoUpperRight>boxfront</fileTypeForMainViewGameInfoUpperRight>
			<fileTypeForMainViewGameInfoLowerLeft>boxfront</fileTypeForMainViewGameInfoLowerLeft>
			<fileTypeForMainViewGameInfoLowerRight>boxfront</fileTypeForMainViewGameInfoLowerRight>
			<fileTypeForMainViewVideoWindowSmall>boxfront</fileTypeForMainViewVideoWindowSmall>			
			<fileTypeForGameInfoViewGamelist>boxfront</fileTypeForGameInfoViewGamelist>
			<fileTypeForGameInfoView1>boxfront</fileTypeForGameInfoView1>
			<fileTypeForGameInfoView2>boxfront</fileTypeForGameInfoView2>
			<fileTypeForGameInfoView3>boxfront</fileTypeForGameInfoView3>
			<fileTypeForGameInfoView4>boxfront</fileTypeForGameInfoView4>
			<fileTypeForGameInfoViewVideoWindow>boxfront</fileTypeForGameInfoViewVideoWindow>
		</fileTypeFor>
	</ImagePlacing>
	<Scrapers>
		<Site name="Amiga V1">
			<Scraper parseInstruction="C:\Users\malte\AppData\Roaming\XBMC\scripts\Rom Collection Browser\resources\lib\TestDataBase\Collection V1\parserConfig.xml" source="TestDataBase\Collection V1\synopsis\synopsis.txt" encoding="iso-8859-1"/>
		</Site>
		<Site name="Amiga V2">
			<Scraper parseInstruction="C:\Users\malte\AppData\Roaming\XBMC\scripts\Rom Collection Browser\resources\lib\TestDataBase\Collection V2\parserConfig.xml" source="TestDataBase\Collection V2\synopsis\%GAME%\synopsis.txt" encoding="iso-8859-1"/>
		</Site>
		<Site name="SNES V3">
			<Scraper parseInstruction="C:\Users\malte\AppData\Roaming\XBMC\scripts\Rom Collection Browser\resources\lib\TestDataBase\Collection V3\parserConfig.xml" source="TestDataBase\Collection V3\description\synopsis.txt" encoding="iso-8859-1" />
		</Site>
		<Site name="SNES V4">
			<Scraper parseInstruction="C:\Users\malte\AppData\Roaming\XBMC\scripts\Rom Collection Browser\resources\lib\TestDataBase\Collection V4\parserConfig.xml" source="TestDataBase\Collection V4\Synopsis\synopsis.txt" encoding="iso-8859-1"/>	
		</Site>		
		<Site name="Xbox V5">
			<Scraper parseInstruction="C:\Users\malte\AppData\Roaming\XBMC\scripts\Rom Collection Browser\resources\lib\TestDataBase\Collection V5\parserConfig.xml" source="TestDataBase\Collection V5\synopsis.txt" encoding="iso-8859-1"/>
		</Site>		
		<Site name="Sega 32 V6">
			<Scraper parseInstruction="C:\Users\malte\AppData\Roaming\XBMC\scripts\Rom Collection Browser\resources\lib\TestDataBase\Collection V6\parserConfig.xml" source="TestDataBase\Collection V6\Synopsis\%GAME%.xml" encoding="iso-8859-1"/>
		</Site>
		<Site name="Sega 32 V7">
			<Scraper parseInstruction="C:\Users\malte\AppData\Roaming\XBMC\scripts\Rom Collection Browser\resources\lib\TestDataBase\Collection V7\parserConfig.xml" source="TestDataBase\Collection V7\synopsis.xml" replaceKeyString="%REPLACEKEYS%" replaceValueString="%REPLACEVALUES%" encoding="iso-8859-1"/>
		</Site>				
		
		
		<!--
		<Site name="thevideogamedb.com">
			<Scraper parseInstruction="01 - thevideogamedb.xml" source="http://thevideogamedb.com/API/GameDetail.aspx?apikey=%VGDBAPIKey%&amp;crc=%CRC%"/>
		</Site>
		<Site name="thegamesdb.net">
			<Scraper parseInstruction="02 - thegamesdb.xml" source="http://thegamesdb.net/api/GetGame.php?name=%GAME%"/>
		</Site>
		<Site name="giantbomb.com">
			<Scraper parseInstruction="03.01 - giantbomb - search.xml" 
			source="http://api.giantbomb.com/search/?api_key=%GIANTBOMBAPIKey%&amp;query=%GAME%&amp;resources=game&amp;format=xml" 
			returnUrl="true" replaceKeyString=" III, II" replaceValueString=" 3, 2"/>
			<Scraper parseInstruction="03.02 - giantbomb - detail.xml" source="1"/>
		</Site>		
		<Site name="mobygames.com">
			<Scraper parseInstruction="04.01 - mobygames - gamesearch.xml" 
			source="http://www.mobygames.com/search/quick?game=%GAME%&amp;p=21" returnUrl="True" replaceKeyString=" III, II" replaceValueString=" 3, 2"/>
			<Scraper parseInstruction="04.02 - mobygames - details.xml" source="1"/>
			<Scraper parseInstruction="04.03 - mobygames - boxfrontlink.xml" source="1" returnUrl="True"/>
			<Scraper parseInstruction="04.04 - mobygames - boxfrontart.xml" source="2"/>
			<Scraper parseInstruction="04.05 - mobygames - screenshotlink.xml" source="1" returnUrl="True"/>
			<Scraper parseInstruction="04.06 - mobygames - screenshotoriginallink.xml" source="3" returnUrl="True"/>
			<Scraper parseInstruction="04.07 - mobygames - screenshots.xml" source="4"/>
		</Site>
		-->
	</Scrapers>
</config>
