<config>
	<RCBSettings>
		<favoriteConsole></favoriteConsole>
		<favoriteGenre></favoriteGenre>
		<showEntryAllConsoles>False</showEntryAllConsoles>
		<showEntryAllGenres>False</showEntryAllGenres>
		<showEntryAllYears>True</showEntryAllYears>
		<showEntryAllPublisher>True</showEntryAllPublisher>
		<saveViewStateOnExit>True</saveViewStateOnExit>
		<saveViewStateOnLaunchEmu>True</saveViewStateOnLaunchEmu>
	</RCBSettings>
	<Consoles>		
		<Console>
			<name>Amiga</name>
			<desc>The Amiga 500 is also known as the A500 (or its code name Rock Lobster).</desc>
			<imgFile>E:\Emulatoren\data\consoleImages\uae.png</imgFile>
		</Console>
		<Console>
			<name>Super Nintendo</name>
			<desc>The Super Nintendo (SNES) is a 16-bit video game console released in 1990.</desc>
			<imgFile>E:\Emulatoren\data\consoleImages\zsnes.png</imgFile>
		</Console>
	</Consoles>
	<RomCollections>
		<RomCollection>			
			<name>Collection V1</name>
			<consoleName>Amiga</consoleName>
			<emulatorCmd>E:\Emulatoren\WINUAE\winuae.exe -f "E:\Emulatoren\WINUAE\Configurations\Host\Amiga 500.uae" {-%I% "%ROM%"}</emulatorCmd>
			<useEmuSolo>True</useEmuSolo>
			<escapeCommand>True</escapeCommand>
			<relyOnNaming>True</relyOnNaming>
			<startWithDescFile>False</startWithDescFile>
			<descFilePerGame>False</descFilePerGame>
			<descriptionParserFile>TestDataBase\Collection V1\parserConfig.xml</descriptionParserFile>
			<diskPrefix>_Disk</diskPrefix>
			<typeOfManual>Text</typeOfManual>
			<allowUpdate>False</allowUpdate>
			<ignoreOnScan>False</ignoreOnScan>
			<searchGameByCRC>True</searchGameByCRC>
			<searchGameByCRCIgnoreRomName>False</searchGameByCRCIgnoreRomName>
			<ignoreGameWithoutDesc>True</ignoreGameWithoutDesc>
			<romPath>TestDataBase\Collection V1\roms\*.adf</romPath>
			<romPath>TestDataBase\Collection V1\roms\*.ADF</romPath>
			<descFilePath>TestDataBase\Collection V1\synopsis\synopsis.txt</descFilePath>
			<configFilePath></configFilePath>			
			<manualPath></manualPath>
			<imgPath type="cover">TestDataBase\Collection V1\cover\%GAME%.jpg</imgPath>
			<imgPath type="cover">TestDataBase\Collection V1\cover\%GAME%.gif</imgPath>
			<imgPath type="cover">TestDataBase\Collection V1\cover\%GAME%.png</imgPath>
			<imgPath type="screenshotingame">TestDataBase\Collection V1\screens\%GAME%.jpg</imgPath>
			<imgPath type="screenshotingame">TestDataBase\Collection V1\screens\%GAME%.gif</imgPath>
			<imgPath type="screenshotingame">TestDataBase\Collection V1\screens\%GAME%.png</imgPath>						
			<fileTypeForGameList>cover</fileTypeForGameList>
			<fileTypeForMainViewGameInfo>screenshotingame</fileTypeForMainViewGameInfo>			
			<fileTypeForGameInfoViewBackground>cover</fileTypeForGameInfoViewBackground>
			<fileTypeForGameInfoViewGamelist>cover</fileTypeForGameInfoViewGamelist>			
			<fileTypeForGameInfoView2>screenshotingame</fileTypeForGameInfoView2>
			<fileTypeForGameInfoView3>cover</fileTypeForGameInfoView3>			
		</RomCollection>
		<RomCollection>			
			<name>Collection V2</name>
			<consoleName>Amiga</consoleName>
			<emulatorCmd>E:\Emulatoren\WINUAE\winuae.exe {-%I% "%ROM%"}</emulatorCmd>
			<useEmuSolo>True</useEmuSolo>
			<escapeCommand>True</escapeCommand>
			<relyOnNaming>True</relyOnNaming>
			<startWithDescFile>False</startWithDescFile>
			<descFilePerGame>True</descFilePerGame>
			<descriptionParserFile>TestDataBase\Collection V2\parserConfig.xml</descriptionParserFile>
			<diskPrefix>_Disk</diskPrefix>
			<typeOfManual>Text</typeOfManual>
			<allowUpdate>False</allowUpdate>
			<ignoreOnScan>False</ignoreOnScan>
			<searchGameByCRC>True</searchGameByCRC>
			<searchGameByCRCIgnoreRomName>False</searchGameByCRCIgnoreRomName>
			<ignoreGameWithoutDesc>False</ignoreGameWithoutDesc>
			<romPath>TestDataBase\Collection V2\roms\*.adf</romPath>
			<romPath>TestDataBase\Collection V2\roms\*.ADF</romPath>
			<descFilePath>TestDataBase\Collection V2\synopsis\%GAME%\synopsis.txt</descFilePath>
			<configFilePath></configFilePath>			
			<manualPath></manualPath>
			<imgPath type="cover">TestDataBase\Collection V2\cover\%GAME%\*.jpg</imgPath>
			<imgPath type="cover">TestDataBase\Collection V2\cover\%GAME%\*.gif</imgPath>
			<imgPath type="cover">TestDataBase\Collection V2\cover\%GAME%\*.png</imgPath>
			<imgPath type="screenshotingame">TestDataBase\Collection V2\screens\%GAME%\*.jpg</imgPath>
			<imgPath type="screenshotingame">TestDataBase\Collection V2\screens\%GAME%\*.gif</imgPath>
			<imgPath type="screenshotingame">TestDataBase\Collection V2\screens\%GAME%\*.png</imgPath>						
			<fileTypeForGameList>cover</fileTypeForGameList>
			<fileTypeForMainViewGameInfo>screenshotingame</fileTypeForMainViewGameInfo>			
			<fileTypeForGameInfoViewBackground>cover</fileTypeForGameInfoViewBackground>
			<fileTypeForGameInfoViewGamelist>cover</fileTypeForGameInfoViewGamelist>			
			<fileTypeForGameInfoView2>screenshotingame</fileTypeForGameInfoView2>
			<fileTypeForGameInfoView3>cover</fileTypeForGameInfoView3>			
		</RomCollection>		
		<RomCollection>			
			<name>Collection V3</name>
			<consoleName>Super Nintendo</consoleName>
			<emulatorCmd>E:\Emulatoren\SNES\zsnes.exe -m "%ROM%"</emulatorCmd>
			<useEmuSolo>True</useEmuSolo>
			<escapeCommand>True</escapeCommand>
			<relyOnNaming>True</relyOnNaming>
			<startWithDescFile>False</startWithDescFile>
			<descFilePerGame>False</descFilePerGame>
			<descriptionParserFile>TestDataBase\Collection V3\parserConfig.xml</descriptionParserFile>
			<diskPrefix>_Disk</diskPrefix>
			<typeOfManual>Text</typeOfManual>
			<allowUpdate>False</allowUpdate>
			<ignoreOnScan>False</ignoreOnScan>
			<searchGameByCRC>True</searchGameByCRC>
			<searchGameByCRCIgnoreRomName>False</searchGameByCRCIgnoreRomName>
			<ignoreGameWithoutDesc>False</ignoreGameWithoutDesc>
			<romPath>TestDataBase\Collection V3\roms\*.zip</romPath>
			<romPath>TestDataBase\Collection V3\roms\*.smc</romPath>
			<descFilePath>TestDataBase\Collection V3\description\synopsis.txt</descFilePath>
			<configFilePath></configFilePath>
			<manualPath></manualPath>
			<imgPath type="cover">TestDataBase\Collection V3\cover\%GAME%.jpg</imgPath>
			<imgPath type="cover">TestDataBase\Collection V3\cover\%GAME%.gif</imgPath>
			<imgPath type="cover">TestDataBase\Collection V3\cover\%GAME%.png</imgPath>
			<imgPath type="screenshotingame">TestDataBase\Collection V3\screens\%GAME%.jpg</imgPath>
			<imgPath type="screenshotingame">TestDataBase\Collection V3\screens\%GAME%.gif</imgPath>
			<imgPath type="screenshotingame">TestDataBase\Collection V3\screens\%GAME%.png</imgPath>
			<imgPath type="screenshottitle">TestDataBase\Collection V3\titles\%GAME%.png</imgPath>
			<imgPath type="screenshottitle">TestDataBase\Collection V3\titles\%GAME%.jpg</imgPath>
			<imgPath type="screenshottitle">TestDataBase\Collection V3\titles\%GAME%.gif</imgPath>
			<imgPath type="cartridge">TestDataBase\Collection V3\cartridge\%GAME%.gif</imgPath>
			<imgPath type="cartridge">TestDataBase\Collection V3\cartridge\%GAME%.png</imgPath>
			<imgPath type="cartridge">TestDataBase\Collection V3\cartridge\%GAME%.jpg</imgPath>
			<videoPath type="gameplay">TestDataBase\Collection V3\ingameVids\%GAME%.wmv</videoPath>
			<fileTypeForGameList>cover</fileTypeForGameList>
			<fileTypeForMainViewGameInfo>screenshotingame</fileTypeForMainViewGameInfo>
			<fileTypeForGameInfoViewBackground>screenshottitle</fileTypeForGameInfoViewBackground>
			<fileTypeForGameInfoViewBackground>cover</fileTypeForGameInfoViewBackground>
			<fileTypeForGameInfoViewGamelist>cover</fileTypeForGameInfoViewGamelist>
			<fileTypeForGameInfoView1>screenshottitle</fileTypeForGameInfoView1>
			<fileTypeForGameInfoView2>screenshotingame</fileTypeForGameInfoView2>
			<fileTypeForGameInfoView3>cover</fileTypeForGameInfoView3>
			<fileTypeForGameInfoView4>cartridge</fileTypeForGameInfoView4>
			<fileTypeForGameInfoViewVideoWindow>gameplay</fileTypeForGameInfoViewVideoWindow>
		</RomCollection>
		<RomCollection>			
			<name>Collection V4</name>
			<consoleName>Super Nintendo</consoleName>
			<emulatorCmd>E:\Emulatoren\SNES\zsnes.exe -m "%ROM%"</emulatorCmd>
			<useEmuSolo>True</useEmuSolo>
			<escapeCommand>True</escapeCommand>
			<relyOnNaming>True</relyOnNaming>
			<startWithDescFile>False</startWithDescFile>
			<descFilePerGame>False</descFilePerGame>
			<descriptionParserFile>TestDataBase\Collection V4\parserConfig.xml</descriptionParserFile>
			<diskPrefix>_Disk</diskPrefix>
			<typeOfManual>Text</typeOfManual>
			<allowUpdate>False</allowUpdate>
			<ignoreOnScan>False</ignoreOnScan>
			<searchGameByCRC>True</searchGameByCRC>
			<searchGameByCRCIgnoreRomName>True</searchGameByCRCIgnoreRomName>
			<ignoreGameWithoutDesc>False</ignoreGameWithoutDesc>
			<romPath>TestDataBase\Collection V4\Roms\*.zip</romPath>
			<romPath>TestDataBase\Collection V4\Roms\*.smc</romPath>
			<descFilePath>TestDataBase\Collection V4\Synopsis\synopsis.txt</descFilePath>
			<configFilePath></configFilePath>
			<manualPath></manualPath>
			<imgPath type="cover">TestDataBase\Collection V4\Artwork\Box Front\%GAME%.jpg</imgPath>
			<imgPath type="cover">TestDataBase\Collection V4\Artwork\Box Front\%GAME%.gif</imgPath>
			<imgPath type="cover">TestDataBase\Collection V4\Artwork\Box Front\%GAME%.png</imgPath>
			<imgPath type="screenshotingame">TestDataBase\Collection V4\Artwork\Action\%GAME%.jpg</imgPath>
			<imgPath type="screenshotingame">TestDataBase\Collection V4\Artwork\Action\%GAME%.gif</imgPath>
			<imgPath type="screenshotingame">TestDataBase\Collection V4\Artwork\Action\%GAME%.png</imgPath>
			<imgPath type="screenshottitle">TestDataBase\Collection V4\Artwork\Title\%GAME%.png</imgPath>
			<imgPath type="screenshottitle">TestDataBase\Collection V4\Artwork\Title\%GAME%.jpg</imgPath>
			<imgPath type="screenshottitle">TestDataBase\Collection V4\Artwork\Title\%GAME%.gif</imgPath>
			<imgPath type="cartridge">TestDataBase\Collection V4\Artwork\Cart\%GAME%.gif</imgPath>
			<imgPath type="cartridge">TestDataBase\Collection V4\Artwork\Cart\%GAME%.png</imgPath>
			<imgPath type="cartridge">TestDataBase\Collection V4\Artwork\Cart\%GAME%.jpg</imgPath>
			<imgPath type="3dbox">TestDataBase\Collection V4\Artwork\3D Boxart\%GAME%.gif</imgPath>
			<imgPath type="3dbox">TestDataBase\Collection V4\Artwork\3D Boxart\%GAME%.png</imgPath>
			<imgPath type="3dbox">TestDataBase\Collection V4\Artwork\3D Boxart\%GAME%.jpg</imgPath>
			<imgPath type="hyperspin">TestDataBase\Collection V4\Artwork\HyperSpin 3D Boxart\%GAME%.gif</imgPath>
			<imgPath type="hyperspin">TestDataBase\Collection V4\Artwork\HyperSpin 3D Boxart\%GAME%.png</imgPath>
			<imgPath type="hyperspin">TestDataBase\Collection V4\Artwork\HyperSpin 3D Boxart\%GAME%.jpg</imgPath>
			<videoPath type="gameplay">TestDataBase\Collection V4\Movies\%GAME%.wmv</videoPath>
			<fileTypeForGameList>cover</fileTypeForGameList>
			<fileTypeForMainViewGameInfo>screenshotingame</fileTypeForMainViewGameInfo>
			<fileTypeForGameInfoViewBackground>title</fileTypeForGameInfoViewBackground>
			<fileTypeForGameInfoViewBackground>cover</fileTypeForGameInfoViewBackground>
			<fileTypeForGameInfoViewGamelist>cover</fileTypeForGameInfoViewGamelist>
			<fileTypeForGameInfoView1>title</fileTypeForGameInfoView1>
			<fileTypeForGameInfoView2>screenshotingame</fileTypeForGameInfoView2>
			<fileTypeForGameInfoView3>cover</fileTypeForGameInfoView3>
			<fileTypeForGameInfoView4>cartridge</fileTypeForGameInfoView4>
			<fileTypeForGameInfoViewVideoWindow>gameplay</fileTypeForGameInfoViewVideoWindow>
		</RomCollection>
	</RomCollections>	
</config>
