<config>
	<RCBSettings>
		<favoriteConsole></favoriteConsole>
		<favoriteGenre></favoriteGenre>
		<showEntryAllConsoles>False</showEntryAllConsoles>
		<showEntryAllGenres>False</showEntryAllGenres>
		<showEntryAllYears>True</showEntryAllYears>
		<showEntryAllPublisher>True</showEntryAllPublisher>
		<saveViewStateOnExit>True</saveViewStateOnExit>
		<saveViewStateOnLaunchEmu>True</saveViewStateOnLaunchEmu>
		<logLevel>DEBUG</logLevel>
	</RCBSettings>
	<Consoles>		
		<Console>
			<name>Amiga</name>			
		</Console>
		<Console>
			<name>Super Nintendo</name>			
		</Console>
		<Console>
			<name>Xbox</name>
		</Console>
	</Consoles>
	<FileTypes>
		<FileType>
			<name>cover</name>
			<type>image</type>
			<parent>game</parent>
		</FileType>		
		<FileType>
			<name>screenshotingame</name>
			<type>image</type>
			<parent>game</parent>
		</FileType>
		<FileType>
			<name>screenshottitle</name>
			<type>image</type>
			<parent>game</parent>
		</FileType> 		
		<FileType>
			<name>cartridge</name>
			<type>image</type>
			<parent>game</parent>
		</FileType> 
		<FileType>
			<name>3dbox</name>
			<type>image</type>
			<parent>game</parent>
		</FileType> 
		<FileType>
			<name>hyperspin</name>
			<type>image</type>
			<parent>game</parent>
		</FileType>
		<FileType>
			<name>gameplay</name>
			<type>video</type>
			<parent>game</parent>
		</FileType>
		<FileType>
			<name>console</name>
			<type>image</type>
			<parent>console</parent>
		</FileType>
		<FileType>
			<name>developer</name>
			<type>image</type>
			<parent>developer</parent>
		</FileType>
		<FileType>
			<name>publisher</name>
			<type>image</type>
			<parent>publisher</parent>
		</FileType>
		<FileType>
			<name>romcollection</name>
			<type>image</type>
			<parent>romcollection</parent>
		</FileType>
		<FileType>
			<name>title</name>
			<type>image</type>
			<parent>game</parent>
		</FileType>
	</FileTypes>
	<RomCollections>
		<RomCollection>			
			<name>Collection V1</name>
			<consoleName>Amiga</consoleName>
			<emulatorCmd>E:\Emulatoren\WINUAE\winuae.exe -f "E:\Emulatoren\WINUAE\Configurations\Host\Amiga 500.uae" {-%I% "%ROM%"}</emulatorCmd>
			<useEmuSolo>True</useEmuSolo>
			<escapeCommand>True</escapeCommand>			
			<descFilePerGame>False</descFilePerGame>
			<descriptionParserFile>TestDataBase\Collection V1\parserConfig.xml</descriptionParserFile>
			<diskPrefix>_Disk</diskPrefix>			
			<allowUpdate>False</allowUpdate>
			<ignoreOnScan>False</ignoreOnScan>
			<searchGameByCRC>True</searchGameByCRC>
			<searchGameByCRCIgnoreRomName>False</searchGameByCRCIgnoreRomName>
			<ignoreGameWithoutDesc>True</ignoreGameWithoutDesc>
			<romPath>TestDataBase\Collection V1\roms\*.adf</romPath>
			<romPath>TestDataBase\Collection V1\roms\*.ADF</romPath>
			<descFilePath>TestDataBase\Collection V1\synopsis\synopsis.txt</descFilePath>			
			<mediaPath type="cover">TestDataBase\Collection V1\cover\%GAME%.jpg</mediaPath>
			<mediaPath type="cover">TestDataBase\Collection V1\cover\%GAME%.gif</mediaPath>
			<mediaPath type="cover">TestDataBase\Collection V1\cover\%GAME%.png</mediaPath>
			<mediaPath type="screenshotingame">TestDataBase\Collection V1\screens\%GAME%.jpg</mediaPath>
			<mediaPath type="screenshotingame">TestDataBase\Collection V1\screens\%GAME%.gif</mediaPath>
			<mediaPath type="screenshotingame">TestDataBase\Collection V1\screens\%GAME%.png</mediaPath>
			<mediaPath type="developer">TestDataBase\Collection V1\developer\%DEVELOPER%.jpg</mediaPath>
			<mediaPath type="publisher">TestDataBase\Collection V1\publisher\%PUBLISHER%.jpg</mediaPath>
			<mediaPath type="console">TestDataBase\consoleImages\%CONSOLE%.png</mediaPath>
			<fileTypeForGameList>cover</fileTypeForGameList>
			<fileTypeForMainViewGameInfoBig>screenshotingame</fileTypeForMainViewGameInfoBig>
			<fileTypeForGameInfoViewBackground>cover</fileTypeForGameInfoViewBackground>
			<fileTypeForGameInfoViewGamelist>cover</fileTypeForGameInfoViewGamelist>			
			<fileTypeForGameInfoView2>screenshotingame</fileTypeForGameInfoView2>
			<fileTypeForGameInfoView3>cover</fileTypeForGameInfoView3>			
		</RomCollection>
		<RomCollection>			
			<name>Collection V2</name>
			<consoleName>Amiga</consoleName>
			<emulatorCmd>E:\Emulatoren\WINUAE\winuae.exe {-%I% "%ROM%"}</emulatorCmd>
			<useEmuSolo>True</useEmuSolo>
			<escapeCommand>True</escapeCommand>
			<relyOnNaming>True</relyOnNaming>
			<startWithDescFile>False</startWithDescFile>
			<descFilePerGame>True</descFilePerGame>
			<descriptionParserFile>TestDataBase\Collection V2\parserConfig.xml</descriptionParserFile>
			<diskPrefix>_Disk</diskPrefix>
			<typeOfManual>Text</typeOfManual>
			<allowUpdate>False</allowUpdate>
			<ignoreOnScan>False</ignoreOnScan>
			<searchGameByCRC>True</searchGameByCRC>
			<searchGameByCRCIgnoreRomName>False</searchGameByCRCIgnoreRomName>
			<ignoreGameWithoutDesc>False</ignoreGameWithoutDesc>
			<romPath>TestDataBase\Collection V2\roms\*.adf</romPath>
			<romPath>TestDataBase\Collection V2\roms\*.ADF</romPath>
			<descFilePath>TestDataBase\Collection V2\synopsis\%GAME%\synopsis.txt</descFilePath>
			<configFilePath></configFilePath>			
			<manualPath></manualPath>
			<mediaPath type="cover">TestDataBase\Collection V2\cover\%GAME%\*.jpg</mediaPath>
			<mediaPath type="cover">TestDataBase\Collection V2\cover\%GAME%\*.gif</mediaPath>
			<mediaPath type="cover">TestDataBase\Collection V2\cover\%GAME%\*.png</mediaPath>
			<mediaPath type="screenshotingame">TestDataBase\Collection V2\screens\%GAME%\*.jpg</mediaPath>
			<mediaPath type="screenshotingame">TestDataBase\Collection V2\screens\%GAME%\*.gif</mediaPath>
			<mediaPath type="screenshotingame">TestDataBase\Collection V2\screens\%GAME%\*.png</mediaPath>
			<mediaPath type="developer">TestDataBase\Collection V2\developer\%DEVELOPER%.png</mediaPath>
			<mediaPath type="publisher">TestDataBase\Collection V2\publisher\%PUBLISHER%.png</mediaPath>
			<fileTypeForGameList>cover</fileTypeForGameList>
			<fileTypeForMainViewGameInfoBig>screenshotingame</fileTypeForMainViewGameInfoBig>			
			<fileTypeForGameInfoViewBackground>cover</fileTypeForGameInfoViewBackground>
			<fileTypeForGameInfoViewGamelist>cover</fileTypeForGameInfoViewGamelist>			
			<fileTypeForGameInfoView2>screenshotingame</fileTypeForGameInfoView2>
			<fileTypeForGameInfoView3>cover</fileTypeForGameInfoView3>			
		</RomCollection>		
		<RomCollection>			
			<name>Collection V3</name>
			<consoleName>Super Nintendo</consoleName>
			<emulatorCmd>E:\Emulatoren\SNES\zsnes.exe -m "%ROM%"</emulatorCmd>
			<useEmuSolo>True</useEmuSolo>
			<escapeCommand>True</escapeCommand>
			<relyOnNaming>True</relyOnNaming>
			<startWithDescFile>False</startWithDescFile>
			<descFilePerGame>False</descFilePerGame>
			<descriptionParserFile>TestDataBase\Collection V3\parserConfig.xml</descriptionParserFile>
			<diskPrefix>_Disk</diskPrefix>
			<typeOfManual>Text</typeOfManual>
			<allowUpdate>False</allowUpdate>
			<ignoreOnScan>False</ignoreOnScan>
			<searchGameByCRC>True</searchGameByCRC>
			<searchGameByCRCIgnoreRomName>False</searchGameByCRCIgnoreRomName>
			<ignoreGameWithoutDesc>False</ignoreGameWithoutDesc>
			<romPath>TestDataBase\Collection V3\roms\*.zip</romPath>
			<romPath>TestDataBase\Collection V3\roms\*.smc</romPath>
			<descFilePath>TestDataBase\Collection V3\description\synopsis.txt</descFilePath>
			<configFilePath></configFilePath>
			<manualPath></manualPath>
			<mediaPath type="cover">TestDataBase\Collection V3\cover\%GAME%.jpg</mediaPath>
			<mediaPath type="cover">TestDataBase\Collection V3\cover\%GAME%.gif</mediaPath>
			<mediaPath type="cover">TestDataBase\Collection V3\cover\%GAME%.png</mediaPath>
			<mediaPath type="screenshotingame">TestDataBase\Collection V3\screens\%GAME%.jpg</mediaPath>
			<mediaPath type="screenshotingame">TestDataBase\Collection V3\screens\%GAME%.gif</mediaPath>
			<mediaPath type="screenshotingame">TestDataBase\Collection V3\screens\%GAME%.png</mediaPath>
			<mediaPath type="screenshottitle">TestDataBase\Collection V3\titles\%GAME%.png</mediaPath>
			<mediaPath type="screenshottitle">TestDataBase\Collection V3\titles\%GAME%.jpg</mediaPath>
			<mediaPath type="screenshottitle">TestDataBase\Collection V3\titles\%GAME%.gif</mediaPath>
			<mediaPath type="cartridge">TestDataBase\Collection V3\cartridge\%GAME%.gif</mediaPath>
			<mediaPath type="cartridge">TestDataBase\Collection V3\cartridge\%GAME%.png</mediaPath>
			<mediaPath type="cartridge">TestDataBase\Collection V3\cartridge\%GAME%.jpg</mediaPath>
			<mediaPath type="gameplay">TestDataBase\Collection V3\ingameVids\%GAME%.wmv</mediaPath>
			<mediaPath type="console">TestDataBase\consoleImages\%CONSOLE%.png</mediaPath>
			<fileTypeForGameList>cover</fileTypeForGameList>
			<fileTypeForMainViewGameInfoBig>screenshotingame</fileTypeForMainViewGameInfoBig>
			<fileTypeForGameInfoViewBackground>screenshottitle</fileTypeForGameInfoViewBackground>
			<fileTypeForGameInfoViewBackground>cover</fileTypeForGameInfoViewBackground>
			<fileTypeForGameInfoViewGamelist>cover</fileTypeForGameInfoViewGamelist>
			<fileTypeForGameInfoView1>screenshottitle</fileTypeForGameInfoView1>
			<fileTypeForGameInfoView2>screenshotingame</fileTypeForGameInfoView2>
			<fileTypeForGameInfoView3>cover</fileTypeForGameInfoView3>
			<fileTypeForGameInfoView4>cartridge</fileTypeForGameInfoView4>
			<fileTypeForGameInfoViewVideoWindow>gameplay</fileTypeForGameInfoViewVideoWindow>
		</RomCollection>
		<RomCollection>			
			<name>Collection V4</name>
			<consoleName>Super Nintendo</consoleName>
			<emulatorCmd>E:\Emulatoren\SNES\zsnes.exe -m "%ROM%"</emulatorCmd>
			<useEmuSolo>True</useEmuSolo>
			<escapeCommand>True</escapeCommand>
			<relyOnNaming>True</relyOnNaming>
			<startWithDescFile>False</startWithDescFile>
			<descFilePerGame>False</descFilePerGame>
			<descriptionParserFile>TestDataBase\Collection V4\parserConfig.xml</descriptionParserFile>
			<diskPrefix>_Disk</diskPrefix>
			<typeOfManual>Text</typeOfManual>
			<allowUpdate>False</allowUpdate>
			<ignoreOnScan>False</ignoreOnScan>
			<searchGameByCRC>True</searchGameByCRC>
			<searchGameByCRCIgnoreRomName>True</searchGameByCRCIgnoreRomName>
			<ignoreGameWithoutDesc>False</ignoreGameWithoutDesc>
			<romPath>TestDataBase\Collection V4\Roms\*.zip</romPath>
			<romPath>TestDataBase\Collection V4\Roms\*.smc</romPath>
			<descFilePath>TestDataBase\Collection V4\Synopsis\synopsis.txt</descFilePath>
			<configFilePath></configFilePath>
			<manualPath></manualPath>
			<mediaPath type="cover">TestDataBase\Collection V4\Artwork\Box Front\%GAME%.jpg</mediaPath>
			<mediaPath type="cover">TestDataBase\Collection V4\Artwork\Box Front\%GAME%.gif</mediaPath>
			<mediaPath type="cover">TestDataBase\Collection V4\Artwork\Box Front\%GAME%.png</mediaPath>
			<mediaPath type="screenshotingame">TestDataBase\Collection V4\Artwork\Action\%GAME%.jpg</mediaPath>
			<mediaPath type="screenshotingame">TestDataBase\Collection V4\Artwork\Action\%GAME%.gif</mediaPath>
			<mediaPath type="screenshotingame">TestDataBase\Collection V4\Artwork\Action\%GAME%.png</mediaPath>
			<mediaPath type="screenshottitle">TestDataBase\Collection V4\Artwork\Title\%GAME%.png</mediaPath>
			<mediaPath type="screenshottitle">TestDataBase\Collection V4\Artwork\Title\%GAME%.jpg</mediaPath>
			<mediaPath type="screenshottitle">TestDataBase\Collection V4\Artwork\Title\%GAME%.gif</mediaPath>
			<mediaPath type="cartridge">TestDataBase\Collection V4\Artwork\Cart\%GAME%.gif</mediaPath>
			<mediaPath type="cartridge">TestDataBase\Collection V4\Artwork\Cart\%GAME%.png</mediaPath>
			<mediaPath type="cartridge">TestDataBase\Collection V4\Artwork\Cart\%GAME%.jpg</mediaPath>
			<mediaPath type="3dbox">TestDataBase\Collection V4\Artwork\3D Boxart\%GAME%.gif</mediaPath>
			<mediaPath type="3dbox">TestDataBase\Collection V4\Artwork\3D Boxart\%GAME%.png</mediaPath>
			<mediaPath type="3dbox">TestDataBase\Collection V4\Artwork\3D Boxart\%GAME%.jpg</mediaPath>
			<mediaPath type="hyperspin">TestDataBase\Collection V4\Artwork\HyperSpin 3D Boxart\%GAME%.gif</mediaPath>
			<mediaPath type="hyperspin">TestDataBase\Collection V4\Artwork\HyperSpin 3D Boxart\%GAME%.png</mediaPath>
			<mediaPath type="hyperspin">TestDataBase\Collection V4\Artwork\HyperSpin 3D Boxart\%GAME%.jpg</mediaPath>
			<mediaPath type="gameplay">TestDataBase\Collection V4\Movies\%GAME%.wmv</mediaPath>
			<fileTypeForGameList>cover</fileTypeForGameList>
			<fileTypeForMainViewGameInfoBig>screenshotingame</fileTypeForMainViewGameInfoBig>
			<fileTypeForGameInfoViewBackground>title</fileTypeForGameInfoViewBackground>
			<fileTypeForGameInfoViewBackground>cover</fileTypeForGameInfoViewBackground>
			<fileTypeForGameInfoViewGamelist>cover</fileTypeForGameInfoViewGamelist>
			<fileTypeForGameInfoView1>title</fileTypeForGameInfoView1>
			<fileTypeForGameInfoView2>screenshotingame</fileTypeForGameInfoView2>
			<fileTypeForGameInfoView3>cover</fileTypeForGameInfoView3>
			<fileTypeForGameInfoView4>cartridge</fileTypeForGameInfoView4>
			<fileTypeForGameInfoViewVideoWindow>gameplay</fileTypeForGameInfoViewVideoWindow>
		</RomCollection>
		<RomCollection>			
			<name>Collection V5</name>
			<consoleName>Xbox</consoleName>
			<xboxCreateShortcut>True</xboxCreateShortcut>
			<xboxCreateShortcutAddRomfile>True</xboxCreateShortcutAddRomfile>
			<xboxCreateShortcutUseShortGamename>True</xboxCreateShortcutUseShortGamename>
			<searchGameByCRC>False</searchGameByCRC>
			<ignoreOnScan>False</ignoreOnScan>
			<useFoldernameAsCRC>True</useFoldernameAsCRC>
			<descriptionParserFile>TestDataBase\Collection V5\parserConfig.xml</descriptionParserFile>
			<descFilePath>TestDataBase\Collection V5\synopsis.txt</descFilePath>
			<emulatorCmd>%ROM%</emulatorCmd>
			<romPath>TestDataBase\Collection V5\Roms\default.xbe</romPath>						
			<mediaPath type="cover">TestDataBase\Collection V5\Artwork\Box Front\%GAME%.png</mediaPath>
			<mediaPath type="3dbox">TestDataBase\Collection V5\Artwork\3d Box\%GAME%.png</mediaPath>
			<fileTypeForGameList>cover</fileTypeForGameList>
			<fileTypeForGameListSelected>3dbox</fileTypeForGameListSelected>
			<fileTypeForMainViewGameInfoBig>cover</fileTypeForMainViewGameInfoBig>			
			<fileTypeForGameInfoViewBackground>cover</fileTypeForGameInfoViewBackground>
			<fileTypeForGameInfoViewGamelist>cover</fileTypeForGameInfoViewGamelist>			
		</RomCollection>
	</RomCollections>	
</config>
