<settings>		
	<setting id="rcb_logLevel" label="100001" type="labelenum" values="ERROR|WARNING|INFO|DEBUG" default="INFO"/>
	<setting id="rcb_useEmulatorSolo" value="false" type="bool" default="false"/>
	<setting id="rcb_escapeEmulatorCommand" value="false" type="bool" default="false"/>
	<setting id="rcb_cachingOption" type="labelenum" values="CACHEALL|CACHESELECTION|CACHEITEM|CACHEITEMANDNEXT" default="CACHEITEMANDNEXT"/>
	<setting id="rcb_showEntryAllConsoles" type="bool" default="true"/>
	<setting id="rcb_showEntryAllGenres" type="bool" default="true"/>
	<setting id="rcb_showEntryAllYears" type="bool" default="true"/>
	<setting id="rcb_showEntryAllPublisher" type="bool" default="true"/>
	<setting id="rcb_showEntryAllChars" type="bool" default="true"/>
	<setting id="rcb_preventUnfilteredSearch" type="bool" default="true"/>
	<setting id="rcb_saveViewStateOnExit" type="bool" default="true"/>
	<setting id="rcb_saveViewStateOnLaunchEmu" type="bool" default="true"/>
	
	<setting id="rcb_view_mode" value="" type="text"/>
</settings>