<config>
	<RCBSettings>		
		<showEntryAllConsoles>True</showEntryAllConsoles>
		<showEntryAllGenres>True</showEntryAllGenres>
		<showEntryAllYears>True</showEntryAllYears>
		<showEntryAllPublisher>True</showEntryAllPublisher>
		<saveViewStateOnExit>True</saveViewStateOnExit>
		<saveViewStateOnLaunchEmu>True</saveViewStateOnLaunchEmu>
	</RCBSettings>
	<Consoles>		
		<Console>
			<name>Amiga</name>			
		</Console>
		<Console>
			<name>Super Nintendo</name>			
		</Console>
	</Consoles>
	<FileTypes>
		<FileType>
			<name>cover</name>
			<type>image</type>
			<parent>game</parent>
		</FileType>
		<FileType>
			<name>screenshotingame</name>
			<type>image</type>
			<parent>game</parent>
		</FileType>
		<FileType>
			<name>action</name>
			<type>image</type>
			<parent>game</parent>
		</FileType>
		<FileType>
			<name>title</name>
			<type>image</type>
			<parent>game</parent>
		</FileType>
		<FileType>
			<name>screenshottitle</name>
			<type>image</type>
			<parent>game</parent>
		</FileType> 		
		<FileType>
			<name>cartridge</name>
			<type>image</type>
			<parent>game</parent>
		</FileType> 
		<FileType>
			<name>boxfront</name>
			<type>image</type>
			<parent>game</parent>
		</FileType>
		<FileType>
			<name>3dbox</name>
			<type>image</type>
			<parent>game</parent>
		</FileType> 		
		<FileType>
			<name>gameplay</name>
			<type>video</type>
			<parent>game</parent>
		</FileType>
		<FileType>
			<name>console</name>
			<type>image</type>
			<parent>console</parent>
		</FileType>
		<FileType>
			<name>developer</name>
			<type>image</type>
			<parent>developer</parent>
		</FileType>
		<FileType>
			<name>publisher</name>
			<type>image</type>
			<parent>publisher</parent>
		</FileType>
		<FileType>
			<name>romcollection</name>
			<type>image</type>
			<parent>romcollection</parent>
		</FileType>
	</FileTypes>
	<RomCollections>
		<RomCollection>			
			<name>Collection V1</name>
			<consoleName>Amiga</consoleName>
			<emulatorCmd>E:\Emulatoren\WINUAE\winuae.exe {-%I% "%ROM%"}</emulatorCmd>
			<useEmuSolo>True</useEmuSolo>
			<escapeCommand>True</escapeCommand>						
			<descFilePerGame>False</descFilePerGame>
			<descriptionParserFile>E:\Emulatoren\data\Testdata V0.5\Collection V1\parserConfig.xml</descriptionParserFile>
			<diskPrefix>_Disk</diskPrefix>			
			<allowUpdate>True</allowUpdate>
			<ignoreOnScan>False</ignoreOnScan>
			<searchGameByCRC>True</searchGameByCRC>
			<searchGameByCRCIgnoreRomName>False</searchGameByCRCIgnoreRomName>
			<ignoreGameWithoutDesc>True</ignoreGameWithoutDesc>
			<romPath>E:\Emulatoren\data\Testdata V0.5\Collection V1\roms\*.adf</romPath>
			<romPath>E:\Emulatoren\data\Testdata V0.5\Collection V1\roms\*.ADF</romPath>
			<descFilePath>E:\Emulatoren\data\Testdata V0.5\Collection V1\synopsis\synopsis.txt</descFilePath>			
			<mediaPath type="cover">E:\Emulatoren\data\Testdata V0.5\Collection V1\cover\%GAME%.jpg</mediaPath>			
			<mediaPath type="screenshotingame">E:\Emulatoren\data\Testdata V0.5\Collection V1\screens\%GAME%.jpg</mediaPath>			
			<mediaPath type="console">E:\Emulatoren\data\Testdata V0.5\consoleImages\%CONSOLE%.png</mediaPath>
			<mediaPath type="developer">E:\Emulatoren\data\Testdata V0.5\developer\%DEVELOPER%.jpg</mediaPath>
			<mediaPath type="developer">E:\Emulatoren\data\Testdata V0.5\developer\%DEVELOPER%.png</mediaPath>
			<mediaPath type="publisher">E:\Emulatoren\data\Testdata V0.5\publisher\%PUBLISHER%.jpg</mediaPath>
			<mediaPath type="publisher">E:\Emulatoren\data\Testdata V0.5\publisher\%PUBLISHER%.png</mediaPath>
			<mediaPath type="romcollection">E:\Emulatoren\data\Testdata V0.5\default.png</mediaPath>
			<fileTypeForGameList>cover</fileTypeForGameList>
			<fileTypeForGameListSelected>cover</fileTypeForGameListSelected>
			<fileTypeForMainView1>console</fileTypeForMainView1>
			<fileTypeForMainView2>developer</fileTypeForMainView2>
			<fileTypeForMainView3>romcollection</fileTypeForMainView3>
			<fileTypeForMainViewBackground>screenshottitle</fileTypeForMainViewBackground>
			<fileTypeForMainViewBackground>cover</fileTypeForMainViewBackground>
			<fileTypeForMainViewGameInfoBig>screenshotingame</fileTypeForMainViewGameInfoBig>
			<fileTypeForGameInfoViewBackground>cover</fileTypeForGameInfoViewBackground>
			<fileTypeForGameInfoViewGamelist>cover</fileTypeForGameInfoViewGamelist>			
			<fileTypeForGameInfoView1>console</fileTypeForGameInfoView1>
			<fileTypeForGameInfoView2>screenshotingame</fileTypeForGameInfoView2>
			<fileTypeForGameInfoView3>cover</fileTypeForGameInfoView3>
			<fileTypeForGameInfoView4>developer</fileTypeForGameInfoView4>
			<fileTypeForGameInfoView4>romcollection</fileTypeForGameInfoView4>
		</RomCollection>
		<RomCollection>			
			<name>Collection V2</name>
			<consoleName>Amiga</consoleName>
			<emulatorCmd>E:\Emulatoren\WINUAE\winuae.exe {-%I% "%ROM%"}</emulatorCmd>
			<useEmuSolo>True</useEmuSolo>
			<escapeCommand>True</escapeCommand>						
			<descFilePerGame>True</descFilePerGame>
			<descriptionParserFile>E:\Emulatoren\data\Testdata V0.5\Collection V2\parserConfig.xml</descriptionParserFile>
			<diskPrefix>_Disk</diskPrefix>			
			<allowUpdate>True</allowUpdate>
			<ignoreOnScan>False</ignoreOnScan>
			<searchGameByCRC>True</searchGameByCRC>
			<searchGameByCRCIgnoreRomName>False</searchGameByCRCIgnoreRomName>
			<ignoreGameWithoutDesc>False</ignoreGameWithoutDesc>
			<romPath>E:\Emulatoren\data\Testdata V0.5\Collection V2\roms\*.adf</romPath>
			<romPath>E:\Emulatoren\data\Testdata V0.5\Collection V2\roms\*.ADF</romPath>
			<descFilePath>E:\Emulatoren\data\Testdata V0.5\Collection V2\synopsis\%GAME%\synopsis.txt</descFilePath>			
			<mediaPath type="cover">E:\Emulatoren\data\Testdata V0.5\Collection V2\cover\%GAME%\*.jpg</mediaPath>			
			<mediaPath type="cover">E:\Emulatoren\data\Testdata V0.5\Collection V2\cover\%GAME%\*.png</mediaPath>
			<mediaPath type="screenshotingame">E:\Emulatoren\data\Testdata V0.5\Collection V2\screens\%GAME%\*.jpg</mediaPath>			
			<mediaPath type="screenshotingame">E:\Emulatoren\data\Testdata V0.5\Collection V2\screens\%GAME%\*.png</mediaPath>
			<mediaPath type="console">E:\Emulatoren\data\Testdata V0.5\consoleImages\%CONSOLE%.png</mediaPath>
			<mediaPath type="developer">E:\Emulatoren\data\Testdata V0.5\developer\%DEVELOPER%.jpg</mediaPath>
			<mediaPath type="developer">E:\Emulatoren\data\Testdata V0.5\developer\%DEVELOPER%.png</mediaPath>
			<mediaPath type="publisher">E:\Emulatoren\data\Testdata V0.5\publisher\%PUBLISHER%.jpg</mediaPath>
			<mediaPath type="publisher">E:\Emulatoren\data\Testdata V0.5\publisher\%PUBLISHER%.png</mediaPath>
			<mediaPath type="romcollection">E:\Emulatoren\data\Testdata V0.5\default.png</mediaPath>
			<fileTypeForGameList>cover</fileTypeForGameList>
			<fileTypeForGameListSelected>cover</fileTypeForGameListSelected>
			<fileTypeForMainViewBackground>screenshottitle</fileTypeForMainViewBackground>
			<fileTypeForMainViewBackground>cover</fileTypeForMainViewBackground>
			<fileTypeForMainViewGameInfoBig>screenshotingame</fileTypeForMainViewGameInfoBig>			
			<fileTypeForGameInfoViewBackground>cover</fileTypeForGameInfoViewBackground>
			<fileTypeForGameInfoViewGamelist>cover</fileTypeForGameInfoViewGamelist>			
			<fileTypeForGameInfoView1>console</fileTypeForGameInfoView1>
			<fileTypeForGameInfoView2>screenshotingame</fileTypeForGameInfoView2>
			<fileTypeForGameInfoView3>cover</fileTypeForGameInfoView3>
			<fileTypeForGameInfoView4>publisher</fileTypeForGameInfoView4>
			<fileTypeForGameInfoView4>romcollection</fileTypeForGameInfoView4>
		</RomCollection>				
		<RomCollection>			
			<name>Collection V3</name>
			<consoleName>Super Nintendo</consoleName>
			<emulatorCmd>E:\Emulatoren\zsnes\zsnesw.exe -m "%ROM%"</emulatorCmd>
			<useEmuSolo>True</useEmuSolo>
			<escapeCommand>True</escapeCommand>			
			<descFilePerGame>False</descFilePerGame>
			<descriptionParserFile>E:\Emulatoren\data\Testdata V0.5\Collection V3\parserConfig.xml</descriptionParserFile>
			<diskPrefix>_Disk</diskPrefix>			
			<allowUpdate>True</allowUpdate>
			<ignoreOnScan>False</ignoreOnScan>
			<searchGameByCRC>True</searchGameByCRC>
			<searchGameByCRCIgnoreRomName>False</searchGameByCRCIgnoreRomName>
			<ignoreGameWithoutDesc>False</ignoreGameWithoutDesc>
			<romPath>E:\Emulatoren\data\Testdata V0.5\Collection V3\Roms\*.zip</romPath>
			<romPath>E:\Emulatoren\data\Testdata V0.5\Collection V3\Roms\*.smc</romPath>
			<descFilePath>E:\Emulatoren\data\Testdata V0.5\Collection V3\Synopsis\synopsis.txt</descFilePath>						
			<mediaPath type="boxfront">E:\Emulatoren\data\Testdata V0.5\Collection V3\Artwork\Box Front\%GAME%.png</mediaPath>			
			<mediaPath type="action">E:\Emulatoren\data\Testdata V0.5\Collection V3\Artwork\Action\%GAME%.png</mediaPath>
			<mediaPath type="title">E:\Emulatoren\data\Testdata V0.5\Collection V3\Artwork\Title\%GAME%.png</mediaPath>			
			<mediaPath type="cartridge">E:\Emulatoren\data\Testdata V0.5\Collection V3\Artwork\Cart\%GAME%.png</mediaPath>			
			<mediaPath type="3dbox">E:\Emulatoren\data\Testdata V0.5\Collection V3\Artwork\3D Boxart\%GAME%.png</mediaPath>			
			<mediaPath type="gameplay">E:\Emulatoren\data\Testdata V0.5\Collection V3\Movies\%GAME%.wmv</mediaPath>
			<mediaPath type="console">E:\Emulatoren\data\Testdata V0.5\consoleImages\%CONSOLE%.png</mediaPath>
			<mediaPath type="developer">E:\Emulatoren\data\Testdata V0.5\developer\%DEVELOPER%.jpg</mediaPath>
			<mediaPath type="developer">E:\Emulatoren\data\Testdata V0.5\developer\%DEVELOPER%.png</mediaPath>
			<mediaPath type="publisher">E:\Emulatoren\data\Testdata V0.5\publisher\%PUBLISHER%.jpg</mediaPath>
			<mediaPath type="publisher">E:\Emulatoren\data\Testdata V0.5\publisher\%PUBLISHER%.png</mediaPath>
			<mediaPath type="romcollection">E:\Emulatoren\data\Testdata V0.5\default.png</mediaPath>
			<fileTypeForGameList>3dbox</fileTypeForGameList>
			<fileTypeForGameListSelected>boxfront</fileTypeForGameListSelected>
			<fileTypeForMainViewBackground>title</fileTypeForMainViewBackground>			
			<fileTypeForMainViewGameInfoUpperLeft>title</fileTypeForMainViewGameInfoUpperLeft>
			<fileTypeForMainViewGameInfoUpperRight>action</fileTypeForMainViewGameInfoUpperRight>
			<fileTypeForMainViewGameInfoLowerLeft>boxfront</fileTypeForMainViewGameInfoLowerLeft>
			<fileTypeForMainViewGameInfoLowerRight>cartridge</fileTypeForMainViewGameInfoLowerRight>
			<fileTypeForMainViewVideoWindowSmall>gameplay</fileTypeForMainViewVideoWindowSmall>
			<fileTypeForGameInfoViewBackground>title</fileTypeForGameInfoViewBackground>			
			<fileTypeForGameInfoViewGamelist>boxfront</fileTypeForGameInfoViewGamelist>
			<fileTypeForGameInfoView1>title</fileTypeForGameInfoView1>
			<fileTypeForGameInfoView2>action</fileTypeForGameInfoView2>
			<fileTypeForGameInfoView3>boxfront</fileTypeForGameInfoView3>
			<fileTypeForGameInfoView4>cartridge</fileTypeForGameInfoView4>
			<fileTypeForGameInfoView4>romcollection</fileTypeForGameInfoView4>
			<fileTypeForGameInfoViewVideoWindow>gameplay</fileTypeForGameInfoViewVideoWindow>
		</RomCollection>		
	</RomCollections>
</config>
