<config>
	<RCBSettings>
		<favoriteConsole></favoriteConsole>
		<favoriteGenre></favoriteGenre>
		<showEntryAllConsoles>True</showEntryAllConsoles>
		<showEntryAllGenres>True</showEntryAllGenres>
		<showEntryAllYears>True</showEntryAllYears>
		<showEntryAllPublisher>True</showEntryAllPublisher>
		<saveViewStateOnExit>True</saveViewStateOnExit>
		<saveViewStateOnLaunchEmu>True</saveViewStateOnLaunchEmu>
	</RCBSettings>
	<Consoles>		
		<Console>
			<name>Amiga</name>
			<desc>The Amiga 500, also known as the A500 (or its code name Rock Lobster), was the first low-end Commodore Amiga 16/32-bit multimedia home/personal computer. It was announced at the winter Consumer Electronics Show in January 1987, at the same time as the high-end Amiga 2000, and competed directly against the Atari 520ST.</desc>
			<imgFile>E:\Emulatoren\data\Testdata V0.4\consoleImages\Amiga.png</imgFile>
		</Console>
		<Console>
			<name>Super Nintendo</name>
			<desc>The Super Nintendo (SNES) is a 16-bit video game console released in 1990. 32768 (15-bit) colors, 8 channels 16-bit 32 kHz audio channels. 128 kB main RAM, 64 kB Video RAM and 64 kB Audio RAM.</desc>
			<imgFile>E:\Emulatoren\data\Testdata V0.4\consoleImages\SNES.png</imgFile>
		</Console>
	</Consoles>
	<FileTypes>
		<FileType>
			<name>cover</name>
			<type>image</type>
			<parent>game</parent>
		</FileType>
		<FileType>
			<name>screenshotingame</name>
			<type>image</type>
			<parent>game</parent>
		</FileType>
		<FileType>
			<name>action</name>
			<type>image</type>
			<parent>game</parent>
		</FileType>
		<FileType>
			<name>title</name>
			<type>image</type>
			<parent>game</parent>
		</FileType>
		<FileType>
			<name>screenshottitle</name>
			<type>image</type>
			<parent>game</parent>
		</FileType> 		
		<FileType>
			<name>cartridge</name>
			<type>image</type>
			<parent>game</parent>
		</FileType> 
		<FileType>
			<name>boxfront</name>
			<type>image</type>
			<parent>game</parent>
		</FileType>
		<FileType>
			<name>3dbox</name>
			<type>image</type>
			<parent>game</parent>
		</FileType> 
		<FileType>
			<name>hyperspin</name>
			<type>image</type>
			<parent>game</parent>
		</FileType>
		<FileType>
			<name>gameplay</name>
			<type>video</type>
			<parent>game</parent>
		</FileType>
		<FileType>
			<name>console</name>
			<type>image</type>
			<parent>console</parent>
		</FileType>
		<FileType>
			<name>developer</name>
			<type>image</type>
			<parent>developer</parent>
		</FileType>
		<FileType>
			<name>publisher</name>
			<type>image</type>
			<parent>publisher</parent>
		</FileType>
		<FileType>
			<name>romcollection</name>
			<type>image</type>
			<parent>romcollection</parent>
		</FileType>
	</FileTypes>
	<RomCollections>
		<RomCollection>			
			<name>Collection V1</name>
			<consoleName>Amiga</consoleName>
			<emulatorCmd>E:\Emulatoren\WINUAE\winuae.exe {-%I% "%ROM%"}</emulatorCmd>
			<useEmuSolo>True</useEmuSolo>
			<escapeCommand>True</escapeCommand>
			<relyOnNaming>True</relyOnNaming>
			<startWithDescFile>False</startWithDescFile>
			<descFilePerGame>False</descFilePerGame>
			<descriptionParserFile>E:\Emulatoren\data\Testdata V0.4\Collection V1\parserConfig.xml</descriptionParserFile>
			<diskPrefix>_Disk</diskPrefix>
			<typeOfManual>Text</typeOfManual>
			<allowUpdate>True</allowUpdate>
			<ignoreOnScan>False</ignoreOnScan>
			<searchGameByCRC>True</searchGameByCRC>
			<searchGameByCRCIgnoreRomName>False</searchGameByCRCIgnoreRomName>
			<ignoreGameWithoutDesc>True</ignoreGameWithoutDesc>
			<romPath>E:\Emulatoren\data\Testdata V0.4\Collection V1\roms\*.adf</romPath>
			<romPath>E:\Emulatoren\data\Testdata V0.4\Collection V1\roms\*.ADF</romPath>
			<descFilePath>E:\Emulatoren\data\Testdata V0.4\Collection V1\synopsis\synopsis.txt</descFilePath>
			<configFilePath></configFilePath>
			<manualPath></manualPath>
			<mediaPath type="cover">E:\Emulatoren\data\Testdata V0.4\Collection V1\cover\%GAME%.jpg</mediaPath>
			<mediaPath type="cover">E:\Emulatoren\data\Testdata V0.4\Collection V1\cover\%GAME%.gif</mediaPath>
			<mediaPath type="cover">E:\Emulatoren\data\Testdata V0.4\Collection V1\cover\%GAME%.png</mediaPath>
			<mediaPath type="screenshotingame">E:\Emulatoren\data\Testdata V0.4\Collection V1\screens\%GAME%.jpg</mediaPath>
			<mediaPath type="screenshotingame">E:\Emulatoren\data\Testdata V0.4\Collection V1\screens\%GAME%.gif</mediaPath>
			<mediaPath type="screenshotingame">E:\Emulatoren\data\Testdata V0.4\Collection V1\screens\%GAME%.png</mediaPath>
			<mediaPath type="console">E:\Emulatoren\data\Testdata V0.4\consoleImages\%CONSOLE%.png</mediaPath>
			<mediaPath type="developer">E:\Emulatoren\data\Testdata V0.4\developer\%DEVELOPER%.jpg</mediaPath>
			<mediaPath type="developer">E:\Emulatoren\data\Testdata V0.4\developer\%DEVELOPER%.png</mediaPath>
			<mediaPath type="publisher">E:\Emulatoren\data\Testdata V0.4\publisher\%PUBLISHER%.jpg</mediaPath>
			<mediaPath type="publisher">E:\Emulatoren\data\Testdata V0.4\publisher\%PUBLISHER%.png</mediaPath>
			<mediaPath type="romcollection">E:\Emulatoren\data\Testdata V0.4\default.png</mediaPath>
			<fileTypeForGameList>cover</fileTypeForGameList>
			<fileTypeForGameListSelected>cover</fileTypeForGameListSelected>
			<fileTypeForMainViewBackground>screenshottitle</fileTypeForMainViewBackground>
			<fileTypeForMainViewBackground>cover</fileTypeForMainViewBackground>
			<fileTypeForMainViewGameInfo>screenshotingame</fileTypeForMainViewGameInfo>
			<fileTypeForGameInfoViewBackground>cover</fileTypeForGameInfoViewBackground>
			<fileTypeForGameInfoViewGamelist>cover</fileTypeForGameInfoViewGamelist>			
			<fileTypeForGameInfoView1>console</fileTypeForGameInfoView1>
			<fileTypeForGameInfoView2>screenshotingame</fileTypeForGameInfoView2>
			<fileTypeForGameInfoView3>cover</fileTypeForGameInfoView3>
			<fileTypeForGameInfoView4>developer</fileTypeForGameInfoView4>
			<fileTypeForGameInfoView4>romcollection</fileTypeForGameInfoView4>
		</RomCollection>
		<RomCollection>			
			<name>Collection V2</name>
			<consoleName>Amiga</consoleName>
			<emulatorCmd>E:\Emulatoren\WINUAE\winuae.exe {-%I% "%ROM%"}</emulatorCmd>
			<useEmuSolo>True</useEmuSolo>
			<escapeCommand>True</escapeCommand>
			<relyOnNaming>True</relyOnNaming>
			<startWithDescFile>False</startWithDescFile>
			<descFilePerGame>True</descFilePerGame>
			<descriptionParserFile>E:\Emulatoren\data\Testdata V0.4\Collection V2\parserConfig.xml</descriptionParserFile>
			<diskPrefix>_Disk</diskPrefix>
			<typeOfManual>Text</typeOfManual>
			<allowUpdate>True</allowUpdate>
			<ignoreOnScan>False</ignoreOnScan>
			<searchGameByCRC>True</searchGameByCRC>
			<searchGameByCRCIgnoreRomName>False</searchGameByCRCIgnoreRomName>
			<ignoreGameWithoutDesc>False</ignoreGameWithoutDesc>
			<romPath>E:\Emulatoren\data\Testdata V0.4\Collection V2\roms\*.adf</romPath>
			<romPath>E:\Emulatoren\data\Testdata V0.4\Collection V2\roms\*.ADF</romPath>
			<descFilePath>E:\Emulatoren\data\Testdata V0.4\Collection V2\synopsis\%GAME%\synopsis.txt</descFilePath>
			<configFilePath></configFilePath>
			<manualPath></manualPath>
			<mediaPath type="cover">E:\Emulatoren\data\Testdata V0.4\Collection V2\cover\%GAME%\*.jpg</mediaPath>
			<mediaPath type="cover">E:\Emulatoren\data\Testdata V0.4\Collection V2\cover\%GAME%\*.gif</mediaPath>
			<mediaPath type="cover">E:\Emulatoren\data\Testdata V0.4\Collection V2\cover\%GAME%\*.png</mediaPath>
			<mediaPath type="screenshotingame">E:\Emulatoren\data\Testdata V0.4\Collection V2\screens\%GAME%\*.jpg</mediaPath>
			<mediaPath type="screenshotingame">E:\Emulatoren\data\Testdata V0.4\Collection V2\screens\%GAME%\*.gif</mediaPath>
			<mediaPath type="screenshotingame">E:\Emulatoren\data\Testdata V0.4\Collection V2\screens\%GAME%\*.png</mediaPath>
			<mediaPath type="console">E:\Emulatoren\data\Testdata V0.4\consoleImages\%CONSOLE%.png</mediaPath>
			<mediaPath type="developer">E:\Emulatoren\data\Testdata V0.4\developer\%DEVELOPER%.jpg</mediaPath>
			<mediaPath type="developer">E:\Emulatoren\data\Testdata V0.4\developer\%DEVELOPER%.png</mediaPath>
			<mediaPath type="publisher">E:\Emulatoren\data\Testdata V0.4\publisher\%PUBLISHER%.jpg</mediaPath>
			<mediaPath type="publisher">E:\Emulatoren\data\Testdata V0.4\publisher\%PUBLISHER%.png</mediaPath>
			<mediaPath type="romcollection">E:\Emulatoren\data\Testdata V0.4\default.png</mediaPath>
			<fileTypeForGameList>cover</fileTypeForGameList>
			<fileTypeForGameListSelected>cover</fileTypeForGameListSelected>
			<fileTypeForMainViewBackground>screenshottitle</fileTypeForMainViewBackground>
			<fileTypeForMainViewBackground>cover</fileTypeForMainViewBackground>
			<fileTypeForMainViewGameInfo>screenshotingame</fileTypeForMainViewGameInfo>			
			<fileTypeForGameInfoViewBackground>cover</fileTypeForGameInfoViewBackground>
			<fileTypeForGameInfoViewGamelist>cover</fileTypeForGameInfoViewGamelist>			
			<fileTypeForGameInfoView1>console</fileTypeForGameInfoView1>
			<fileTypeForGameInfoView2>screenshotingame</fileTypeForGameInfoView2>
			<fileTypeForGameInfoView3>cover</fileTypeForGameInfoView3>
			<fileTypeForGameInfoView4>publisher</fileTypeForGameInfoView4>
			<fileTypeForGameInfoView4>romcollection</fileTypeForGameInfoView4>
		</RomCollection>		
		<RomCollection>			
			<name>Collection V3</name>
			<consoleName>Super Nintendo</consoleName>
			<emulatorCmd>E:\Emulatoren\zsnes\zsnesw.exe -m "%ROM%"</emulatorCmd>
			<useEmuSolo>True</useEmuSolo>
			<escapeCommand>True</escapeCommand>
			<relyOnNaming>True</relyOnNaming>
			<startWithDescFile>False</startWithDescFile>
			<descFilePerGame>False</descFilePerGame>
			<descriptionParserFile>E:\Emulatoren\data\Testdata V0.4\Collection V3\parserConfig.xml</descriptionParserFile>
			<diskPrefix>_Disk</diskPrefix>
			<typeOfManual>Text</typeOfManual>
			<allowUpdate>True</allowUpdate>
			<ignoreOnScan>False</ignoreOnScan>
			<searchGameByCRC>True</searchGameByCRC>
			<searchGameByCRCIgnoreRomName>False</searchGameByCRCIgnoreRomName>
			<ignoreGameWithoutDesc>False</ignoreGameWithoutDesc>
			<romPath>E:\Emulatoren\data\Testdata V0.4\Collection V3\roms\*.zip</romPath>
			<romPath>E:\Emulatoren\data\Testdata V0.4\Collection V3\roms\*.smc</romPath>
			<descFilePath>E:\Emulatoren\data\Testdata V0.4\Collection V3\description\synopsis.txt</descFilePath>
			<configFilePath></configFilePath>
			<manualPath></manualPath>
			<mediaPath type="cover">E:\Emulatoren\data\Testdata V0.4\Collection V3\cover\%GAME%.jpg</mediaPath>
			<mediaPath type="cover">E:\Emulatoren\data\Testdata V0.4\Collection V3\cover\%GAME%.gif</mediaPath>
			<mediaPath type="cover">E:\Emulatoren\data\Testdata V0.4\Collection V3\cover\%GAME%.png</mediaPath>
			<mediaPath type="screenshotingame">E:\Emulatoren\data\Testdata V0.4\Collection V3\screens\%GAME%.jpg</mediaPath>
			<mediaPath type="screenshotingame">E:\Emulatoren\data\Testdata V0.4\Collection V3\screens\%GAME%.gif</mediaPath>
			<mediaPath type="screenshotingame">E:\Emulatoren\data\Testdata V0.4\Collection V3\screens\%GAME%.png</mediaPath>
			<mediaPath type="screenshottitle">E:\Emulatoren\data\Testdata V0.4\Collection V3\titles\%GAME%.jpg</mediaPath>
			<mediaPath type="screenshottitle">E:\Emulatoren\data\Testdata V0.4\Collection V3\titles\%GAME%.gif</mediaPath>
			<mediaPath type="screenshottitle">E:\Emulatoren\data\Testdata V0.4\Collection V3\titles\%GAME%.png</mediaPath>
			<mediaPath type="cartridge">E:\Emulatoren\data\Testdata V0.4\Collection V3\cartridge\%GAME%.png</mediaPath>
			<mediaPath type="cartridge">E:\Emulatoren\data\Testdata V0.4\Collection V3\cartridge\%GAME%.gif</mediaPath>
			<mediaPath type="cartridge">E:\Emulatoren\data\Testdata V0.4\Collection V3\cartridge\%GAME%.jpg</mediaPath>			
			<mediaPath type="gameplay">E:\Emulatoren\data\Testdata V0.4\Collection V3\ingameVids\%GAME%.wmv</mediaPath>
			<mediaPath type="console">E:\Emulatoren\data\Testdata V0.4\consoleImages\%CONSOLE%.png</mediaPath>
			<mediaPath type="developer">E:\Emulatoren\data\Testdata V0.4\developer\%DEVELOPER%.jpg</mediaPath>
			<mediaPath type="developer">E:\Emulatoren\data\Testdata V0.4\developer\%DEVELOPER%.png</mediaPath>
			<mediaPath type="publisher">E:\Emulatoren\data\Testdata V0.4\publisher\%PUBLISHER%.jpg</mediaPath>
			<mediaPath type="publisher">E:\Emulatoren\data\Testdata V0.4\publisher\%PUBLISHER%.png</mediaPath>
			<mediaPath type="romcollection">E:\Emulatoren\data\Testdata V0.4\default.png</mediaPath>
			<fileTypeForGameList>cover</fileTypeForGameList>
			<fileTypeForGameListSelected>cover</fileTypeForGameListSelected>
			<fileTypeForMainViewBackground>screenshottitle</fileTypeForMainViewBackground>
			<fileTypeForMainViewBackground>cover</fileTypeForMainViewBackground>
			<fileTypeForMainViewGameInfo>screenshotingame</fileTypeForMainViewGameInfo>
			<fileTypeForGameInfoViewBackground>screenshottitle</fileTypeForGameInfoViewBackground>
			<fileTypeForGameInfoViewBackground>cover</fileTypeForGameInfoViewBackground>
			<fileTypeForGameInfoViewGamelist>cover</fileTypeForGameInfoViewGamelist>
			<fileTypeForGameInfoView1>screenshottitle</fileTypeForGameInfoView1>
			<fileTypeForGameInfoView2>screenshotingame</fileTypeForGameInfoView2>
			<fileTypeForGameInfoView3>cover</fileTypeForGameInfoView3>
			<fileTypeForGameInfoView4>cartridge</fileTypeForGameInfoView4>
			<fileTypeForGameInfoView4>romcollection</fileTypeForGameInfoView4>
			<fileTypeForGameInfoViewVideoWindow>gameplay</fileTypeForGameInfoViewVideoWindow>
		</RomCollection>
		<RomCollection>			
			<name>Collection V4</name>
			<consoleName>Super Nintendo</consoleName>
			<emulatorCmd>E:\Emulatoren\zsnes\zsnesw.exe -m "%ROM%"</emulatorCmd>
			<useEmuSolo>True</useEmuSolo>
			<escapeCommand>True</escapeCommand>
			<relyOnNaming>True</relyOnNaming>
			<startWithDescFile>False</startWithDescFile>
			<descFilePerGame>False</descFilePerGame>
			<descriptionParserFile>E:\Emulatoren\data\Testdata V0.4\Collection V4\parserConfig.xml</descriptionParserFile>
			<diskPrefix>_Disk</diskPrefix>
			<typeOfManual>Text</typeOfManual>
			<allowUpdate>False</allowUpdate>
			<ignoreOnScan>True</ignoreOnScan>
			<searchGameByCRC>True</searchGameByCRC>
			<searchGameByCRCIgnoreRomName>False</searchGameByCRCIgnoreRomName>
			<ignoreGameWithoutDesc>False</ignoreGameWithoutDesc>
			<romPath>E:\Emulatoren\data\Testdata V0.4\Collection V4\Roms\*.zip</romPath>
			<romPath>E:\Emulatoren\data\Testdata V0.4\Collection V4\Roms\*.smc</romPath>
			<descFilePath>E:\Emulatoren\data\Testdata V0.4\Collection V4\Synopsis\synopsis.txt</descFilePath>
			<configFilePath></configFilePath>
			<manualPath></manualPath>
			<mediaPath type="boxfront">E:\Emulatoren\data\Testdata V0.4\Collection V4\Artwork\Box Front\%GAME%.jpg</mediaPath>
			<mediaPath type="boxfront">E:\Emulatoren\data\Testdata V0.4\Collection V4\Artwork\Box Front\%GAME%.gif</mediaPath>
			<mediaPath type="boxfront">E:\Emulatoren\data\Testdata V0.4\Collection V4\Artwork\Box Front\%GAME%.png</mediaPath>
			<mediaPath type="action">E:\Emulatoren\data\Testdata V0.4\Collection V4\Artwork\Action\%GAME%.jpg</mediaPath>
			<mediaPath type="action">E:\Emulatoren\data\Testdata V0.4\Collection V4\Artwork\Action\%GAME%.gif</mediaPath>
			<mediaPath type="action">E:\Emulatoren\data\Testdata V0.4\Collection V4\Artwork\Action\%GAME%.png</mediaPath>
			<mediaPath type="title">E:\Emulatoren\data\Testdata V0.4\Collection V4\Artwork\Title\%GAME%.png</mediaPath>
			<mediaPath type="title">E:\Emulatoren\data\Testdata V0.4\Collection V4\Artwork\Title\%GAME%.jpg</mediaPath>
			<mediaPath type="title">E:\Emulatoren\data\Testdata V0.4\Collection V4\Artwork\Title\%GAME%.gif</mediaPath>
			<mediaPath type="cartridge">E:\Emulatoren\data\Testdata V0.4\Collection V4\Artwork\Cart\%GAME%.gif</mediaPath>
			<mediaPath type="cartridge">E:\Emulatoren\data\Testdata V0.4\Collection V4\Artwork\Cart\%GAME%.png</mediaPath>
			<mediaPath type="cartridge">E:\Emulatoren\data\Testdata V0.4\Collection V4\Artwork\Cart\%GAME%.jpg</mediaPath>
			<mediaPath type="3dbox">E:\Emulatoren\data\Testdata V0.4\Collection V4\Artwork\3D Boxart\%GAME%.gif</mediaPath>
			<mediaPath type="3dbox">E:\Emulatoren\data\Testdata V0.4\Collection V4\Artwork\3D Boxart\%GAME%.png</mediaPath>
			<mediaPath type="3dbox">E:\Emulatoren\data\Testdata V0.4\Collection V4\Artwork\3D Boxart\%GAME%.jpg</mediaPath>
			<mediaPath type="hyperspin">E:\Emulatoren\data\Testdata V0.4\Collection V4\Artwork\HyperSpin 3D Boxart\%GAME%.gif</mediaPath>
			<mediaPath type="hyperspin">E:\Emulatoren\data\Testdata V0.4\Collection V4\Artwork\HyperSpin 3D Boxart\%GAME%.png</mediaPath>
			<mediaPath type="hyperspin">E:\Emulatoren\data\Testdata V0.4\Collection V4\Artwork\HyperSpin 3D Boxart\%GAME%.jpg</mediaPath>
			<mediaPath type="gameplay">E:\Emulatoren\data\Testdata V0.4\Collection V4\Movies\%GAME%.wmv</mediaPath>
			<mediaPath type="console">E:\Emulatoren\data\Testdata V0.4\consoleImages\%CONSOLE%.png</mediaPath>
			<mediaPath type="developer">E:\Emulatoren\data\Testdata V0.4\developer\%DEVELOPER%.jpg</mediaPath>
			<mediaPath type="developer">E:\Emulatoren\data\Testdata V0.4\developer\%DEVELOPER%.png</mediaPath>
			<mediaPath type="publisher">E:\Emulatoren\data\Testdata V0.4\publisher\%PUBLISHER%.jpg</mediaPath>
			<mediaPath type="publisher">E:\Emulatoren\data\Testdata V0.4\publisher\%PUBLISHER%.png</mediaPath>
			<mediaPath type="romcollection">E:\Emulatoren\data\Testdata V0.4\default.png</mediaPath>
			<fileTypeForGameList>3dbox</fileTypeForGameList>
			<fileTypeForGameListSelected>hyperspin</fileTypeForGameListSelected>
			<fileTypeForMainViewBackground>title</fileTypeForMainViewBackground>
			<fileTypeForMainViewGameInfo>action</fileTypeForMainViewGameInfo>
			<fileTypeForGameInfoViewBackground>hyperspin</fileTypeForGameInfoViewBackground>			
			<fileTypeForGameInfoViewGamelist>boxfront</fileTypeForGameInfoViewGamelist>
			<fileTypeForGameInfoView1>hyperspin</fileTypeForGameInfoView1>
			<fileTypeForGameInfoView2>action</fileTypeForGameInfoView2>
			<fileTypeForGameInfoView3>boxfront</fileTypeForGameInfoView3>
			<fileTypeForGameInfoView4>cartridge</fileTypeForGameInfoView4>
			<fileTypeForGameInfoView4>romcollection</fileTypeForGameInfoView4>
			<fileTypeForGameInfoViewVideoWindow>gameplay</fileTypeForGameInfoViewVideoWindow>
		</RomCollection>
		<RomCollection>			
			<name>Collection V5 Amiga Classix</name>
			<consoleName>Amiga</consoleName>
			<emulatorCmd>E:\Emulatoren\WINUAE\winuae.exe {-%I% "%ROM%"}</emulatorCmd>
			<useEmuSolo>True</useEmuSolo>
			<escapeCommand>True</escapeCommand>			
			<diskPrefix>_Disk</diskPrefix>			
			<allowUpdate>True</allowUpdate>
			<ignoreOnScan>False</ignoreOnScan>
			<searchGameByCRC>True</searchGameByCRC>
			<searchGameByCRCIgnoreRomName>False</searchGameByCRCIgnoreRomName>
			<ignoreGameWithoutDesc>False</ignoreGameWithoutDesc>
			<romPath>E:\Emulatoren\data\Amiga\Amiga Classix 2\Games\*.adf</romPath>
			<romPath>E:\Emulatoren\data\Amiga\Amiga Classix 2\Games\*.hdf</romPath>
			<romPath>E:\Emulatoren\data\Amiga\Amiga Classix 2\Games\*.HDF</romPath>
			<mediaPath type="cover">E:\Emulatoren\data\Amiga\Amiga Classix 2\Pics\%GAME%.jpg</mediaPath>			
			<fileTypeForGameList>cover</fileTypeForGameList>
			<fileTypeForGameListSelected>cover</fileTypeForGameListSelected>
			<fileTypeForMainViewBackground>cover</fileTypeForMainViewBackground>			
			<fileTypeForMainViewGameInfo>cover</fileTypeForMainViewGameInfo>
			<fileTypeForGameInfoViewBackground>cover</fileTypeForGameInfoViewBackground>
			<fileTypeForGameInfoViewGamelist>cover</fileTypeForGameInfoViewGamelist>			
		</RomCollection>
	</RomCollections>
</config>
