<config>	
	<RomCollections>
		<RomCollection id="1" name="Amiga V1">
			<emulatorCmd>E:\Emulatoren\WINUAE\winuae.exe {-%I% "%ROM%"}</emulatorCmd>
			<xboxCreateShortcut>False</xboxCreateShortcut>
			<xboxCreateShortcutAddRomfile>False</xboxCreateShortcutAddRomfile>
			<xboxCreateShortcutUseShortGamename>False</xboxCreateShortcutUseShortGamename>
			<diskPrefix>_Disk</diskPrefix>
			<allowUpdate>True</allowUpdate>
			<ignoreOnScan>False</ignoreOnScan>			
			<ignoreGameWithoutDesc>True</ignoreGameWithoutDesc>
			<romPath>TestDataBase\V1 - Amiga - ff - descforall\roms\*.adf</romPath>			
			<mediaPath type="boxfront">TestDataBase\V1 - Amiga - ff - descforall\cover\%GAME%.*</mediaPath>
			<mediaPath type="action">TestDataBase\V1 - Amiga - ff - descforall\screens\%GAME%.*</mediaPath>
			<mediaPath type="developer">TestDataBase\V1 - Amiga - ff - descforall\developer\%DEVELOPER%.*</mediaPath>
			<mediaPath type="publisher">TestDataBase\V1 - Amiga - ff - descforall\publisher\%PUBLISHER%.*</mediaPath>
			<mediaPath type="console">TestDataBase\consoleImages\%CONSOLE%.*</mediaPath>
			<imagePlacingMain>gameinfobig</imagePlacingMain>
			<scraper name="Amiga V1"/>
		</RomCollection>
		<RomCollection id="2" name="Amiga V2">
			<emulatorCmd>E:\Emulatoren\WINUAE\winuae.exe {-%I% "%ROM%"}</emulatorCmd>
			<xboxCreateShortcut>False</xboxCreateShortcut>
			<xboxCreateShortcutAddRomfile>False</xboxCreateShortcutAddRomfile>
			<xboxCreateShortcutUseShortGamename>False</xboxCreateShortcutUseShortGamename>
			<diskPrefix> [(]Disk.*[)]</diskPrefix>
			<allowUpdate>True</allowUpdate>
			<ignoreOnScan>False</ignoreOnScan>
			<ignoreGameWithoutDesc>False</ignoreGameWithoutDesc>
			<romPath>TestDataBase\V2 - Amiga - ff - descpergame\roms\*.adf</romPath>
			<romPath>TestDataBase\V2 - Amiga - ff - descpergame\roms\*.ADF</romPath>
			<mediaPath type="boxfront">TestDataBase\V2 - Amiga - ff - descpergame\cover\%GAME%\*.*</mediaPath>
			<mediaPath type="action">TestDataBase\V2 - Amiga - ff - descpergame\screens\%GAME%\*.*</mediaPath>
			<mediaPath type="developer">TestDataBase\V2 - Amiga - ff - descpergame\developer\%DEVELOPER%.*</mediaPath>
			<mediaPath type="publisher">TestDataBase\V2 - Amiga - ff - descpergame\publisher\%PUBLISHER%.*</mediaPath>
			<imagePlacingMain>gameinfobig</imagePlacingMain>
			<scraper name="Amiga V2"/>
		</RomCollection>
		<RomCollection id="3" name="Super Nintendo V1">			
			<emulatorCmd>E:\Emulatoren\SNES\zsnes.exe -m "%ROM%"</emulatorCmd>
			<xboxCreateShortcut>False</xboxCreateShortcut>
			<xboxCreateShortcutAddRomfile>False</xboxCreateShortcutAddRomfile>
			<xboxCreateShortcutUseShortGamename>False</xboxCreateShortcutUseShortGamename>
			<diskPrefix>_Disk</diskPrefix>			
			<allowUpdate>False</allowUpdate>
			<ignoreOnScan>False</ignoreOnScan>
			<ignoreGameWithoutDesc>False</ignoreGameWithoutDesc>
			<romPath>TestDataBase\V3 - SNES - ff - descforall\roms\*.zip</romPath>
			<romPath>TestDataBase\V3 - SNES - ff - descforall\roms\*.smc</romPath>
			<mediaPath type="boxfront">TestDataBase\V3 - SNES - ff - descforall\cover\%GAME%.*</mediaPath>			
			<mediaPath type="action">TestDataBase\V3 - SNES - ff - descforall\screens\%GAME%.*</mediaPath>			
			<mediaPath type="title">TestDataBase\V3 - SNES - ff - descforall\titles\%GAME%.*</mediaPath>			
			<mediaPath type="cartridge">TestDataBase\V3 - SNES - ff - descforall\cartridge\%GAME%.*</mediaPath>			
			<mediaPath type="gameplay">TestDataBase\V3 - SNES - ff - descforall\ingameVids\%GAME%.wmv</mediaPath>
			<mediaPath type="console">TestDataBase\consoleImages\%CONSOLE%.*</mediaPath>			
			<imagePlacingMain>gameinfobig</imagePlacingMain>
			<scraper name="SNES V3"/>
		</RomCollection>
		<RomCollection id="4"  name="Super Nintendo V2">
			<emulatorCmd>E:\Emulatoren\SNES\zsnes.exe -m "%ROM%"</emulatorCmd>
			<xboxCreateShortcut>False</xboxCreateShortcut>
			<xboxCreateShortcutAddRomfile>False</xboxCreateShortcutAddRomfile>
			<xboxCreateShortcutUseShortGamename>False</xboxCreateShortcutUseShortGamename>
			<diskPrefix>_Disk</diskPrefix>			
			<allowUpdate>False</allowUpdate>
			<ignoreOnScan>False</ignoreOnScan>
			<ignoreGameWithoutDesc>False</ignoreGameWithoutDesc>
			<romPath>TestDataBase\V4 - SNES - ff - descforall - subfolder\Roms\*.zip</romPath>
			<romPath>TestDataBase\V4 - SNES - ff - descforall - subfolder\Roms\*.smc</romPath>
			<mediaPath type="boxfront">TestDataBase\V4 - SNES - ff - descforall - subfolder\Artwork\Box Front\%GAME%.*</mediaPath>			
			<mediaPath type="action">TestDataBase\V4 - SNES - ff - descforall - subfolder\Artwork\Action\%GAME%.*</mediaPath>			
			<mediaPath type="title">TestDataBase\V4 - SNES - ff - descforall - subfolder\Artwork\Title\%GAME%.*</mediaPath>			
			<mediaPath type="cartridge">TestDataBase\V4 - SNES - ff - descforall - subfolder\Artwork\Cart\%GAME%.*</mediaPath>					
			<mediaPath type="gameplay">TestDataBase\V4 - SNES - ff - descforall - subfolder\Movies\%GAME%.wmv</mediaPath>
			<imagePlacingMain>gameinfobig</imagePlacingMain>
			<scraper name="SNES V4"/>
		</RomCollection>
		<RomCollection id="5"  name="Xbox">			
			<emulatorCmd>%ROM%</emulatorCmd>
			<xboxCreateShortcut>True</xboxCreateShortcut>
			<xboxCreateShortcutAddRomfile>True</xboxCreateShortcutAddRomfile>
			<xboxCreateShortcutUseShortGamename>True</xboxCreateShortcutUseShortGamename>
			<ignoreOnScan>False</ignoreOnScan>
			<useFoldernameAsGamename>True</useFoldernameAsGamename>
			<romPath>TestDataBase\V5 - Xbox - ff - descforall\Roms\default.xbe</romPath>						
			<mediaPath type="boxfront">TestDataBase\V5 - Xbox - ff - descforall\Artwork\Box Front\%GAME%.*</mediaPath>
			<mediaPath type="screenshot">TestDataBase\V5 - Xbox - ff - descforall\Artwork\screenshot\%GAME%.*</mediaPath>
			<imagePlacingMain>gameinfobig</imagePlacingMain>
			<scraper name="Xbox V5"/>
		</RomCollection>
		<RomCollection id="6"  name="Sega 32 V1">
			<emulatorCmd>%ROM%</emulatorCmd>
			<xboxCreateShortcut>False</xboxCreateShortcut>
			<xboxCreateShortcutAddRomfile>False</xboxCreateShortcutAddRomfile>
			<xboxCreateShortcutUseShortGamename>False</xboxCreateShortcutUseShortGamename>
			<searchGameByCRC>False</searchGameByCRC>
			<descFilePerGame>True</descFilePerGame>
			<ignoreOnScan>False</ignoreOnScan>						
			<romPath>TestDataBase\V6 - Sega32 - xml - descpergame\Roms\*.zip</romPath>
			<mediaPath type="boxfront">TestDataBase\V6 - Sega32 - xml - descpergame\Artwork\Box Front\%GAME%.*</mediaPath>
			<mediaPath type="screenshot">TestDataBase\V6 - Sega32 - xml - descpergame\Artwork\screenshot\%GAME%.*</mediaPath>
			<imagePlacingMain>gameinfobig</imagePlacingMain>
			<scraper name="Sega 32 V6"/>
		</RomCollection>
		<RomCollection id="7"  name="Sega 32 V2">
			<emulatorCmd>%ROM%</emulatorCmd>
			<ignoreOnScan>False</ignoreOnScan>				
			<romPath>TestDataBase\V7 - Sega32 - xml - descforall\Roms\*.zip</romPath>
			<mediaPath type="boxfront">TestDataBase\V7 - Sega32 - xml - descforall\Artwork\Box Front\%GAME%.*</mediaPath>
			<mediaPath type="screenshot">TestDataBase\V7 - Sega32 - xml - descforall\Artwork\3d Box\%GAME%.*</mediaPath>
			<imagePlacingMain>gameinfobig</imagePlacingMain>
			<scraper name="Sega 32 V7" replaceKeyString=" III, II,32x - " replaceValueString=" 3, 2,"/>
		</RomCollection>
		<RomCollection id="8"  name="SNES - local nfo">
			<emulatorCmd>%ROM%</emulatorCmd>
			<ignoreOnScan>False</ignoreOnScan>				
			<romPath>TestDataBase\V8 - SNES - xml - local nfo\Roms\*.zip</romPath>
			<mediaPath type="boxfront">TestDataBase\V8 - SNES - xml - local nfo\Artwork\boxfront\%GAME%.*</mediaPath>
			<mediaPath type="screenshot">TestDataBase\V8 - SNES - xml - local nfo\Artwork\screenshot\%GAME%.*</mediaPath>
			<mediaPath type="boxback">TestDataBase\V8 - SNES - xml - local nfo\Artwork\boxback\%GAME%.*</mediaPath>
			<mediaPath type="cartridge">TestDataBase\V8 - SNES - xml - local nfo\Artwork\cartridge\%GAME%.*</mediaPath>
			<mediaPath type="fanart">TestDataBase\V8 - SNES - xml - local nfo\Artwork\fanart\%GAME%.*</mediaPath>
			<imagePlacingMain>gameinfobig</imagePlacingMain>
			<scraper name="local nfo"/>			
		</RomCollection>
		<RomCollection id="9"  name="SNES">
			<emulatorCmd>%ROM%</emulatorCmd>
			<ignoreOnScan>False</ignoreOnScan>				
			<romPath>TestDataBase\V9 - SNES - online\Roms\*.zip</romPath>
			<mediaPath type="boxfront">TestDataBase\V9 - SNES - online\Artwork\boxfront\%GAME%.*</mediaPath>
			<mediaPath type="screenshot">TestDataBase\V9 - SNES - online\Artwork\screenshot\%GAME%.*</mediaPath>
			<mediaPath type="boxback">TestDataBase\V9 - SNES - online\Artwork\boxback\%GAME%.*</mediaPath>
			<mediaPath type="cartridge">TestDataBase\V9 - SNES - online\Artwork\cartridge\%GAME%.*</mediaPath>
			<mediaPath type="fanart">TestDataBase\V9 - SNES - online\Artwork\fanart\%GAME%.*</mediaPath>
			<imagePlacingMain>gameinfobig</imagePlacingMain>			
			<scraper name="mobygames.com" platform="15"/>
		</RomCollection>
		<RomCollection id="10"  name="N64 - online">
			<emulatorCmd>%ROM%</emulatorCmd>
			<xboxCreateShortcut>False</xboxCreateShortcut>
			<xboxCreateShortcutAddRomfile>False</xboxCreateShortcutAddRomfile>
			<xboxCreateShortcutUseShortGamename>False</xboxCreateShortcutUseShortGamename>
			<searchGameByCRC>False</searchGameByCRC>
			<useFilenameAsCRC>True</useFilenameAsCRC>
			<descFilePerGame>True</descFilePerGame>
			<ignoreOnScan>False</ignoreOnScan>				
			<romPath>TestDataBase\V10 - N64 - online\Roms\*.zip</romPath>
			<mediaPath type="boxfront">TestDataBase\V10 - N64 - online\Artwork\boxfront\%GAME%.*</mediaPath>
			<mediaPath type="screenshot">TestDataBase\V10 - N64 - online\Artwork\screenshot\%GAME%.*</mediaPath>
			<mediaPath type="boxback">TestDataBase\V10 - N64 - online\Artwork\boxback\%GAME%.*</mediaPath>
			<mediaPath type="cartridge">TestDataBase\V10 - N64 - online\Artwork\cartridge\%GAME%.*</mediaPath>
			<mediaPath type="fanart">TestDataBase\V10 - N64 - online\Artwork\fanart\%GAME%.*</mediaPath>
			<imagePlacingMain>gameinfobig</imagePlacingMain>			
			<scraper name="giantbomb.com"/>
		</RomCollection>
	</RomCollections>
	<FileTypes>
		<FileType id="1" name="boxfront">
			<type>image</type>
			<parent>game</parent>
		</FileType>
		<FileType id="2" name="screenshot">
			<type>image</type>
			<parent>game</parent>
		</FileType>
		<FileType id="3" name="action">
			<type>image</type>
			<parent>game</parent>
		</FileType>
		<FileType id="4" name="title">
			<type>image</type>
			<parent>game</parent>
		</FileType>
		<FileType id="5" name="cartridge">
			<type>image</type>
			<parent>game</parent>
		</FileType>		
		<FileType id="6" name="console">
			<type>image</type>
			<parent>console</parent>
		</FileType>
		<FileType id="7" name="developer">
			<type>image</type>
			<parent>developer</parent>
		</FileType>
		<FileType id="8" name="publisher">
			<type>image</type>
			<parent>publisher</parent>
		</FileType>
		<FileType id="9" name="gameplay">
			<type>video</type>
			<parent>game</parent>
		</FileType>
		<FileType id="10" name="boxback">
			<type>image</type>
			<parent>game</parent>
		</FileType>
		<FileType id="11" name="fanart">
			<type>image</type>
			<parent>game</parent>
		</FileType>
	</FileTypes>
	<ImagePlacing>
		<fileTypeFor name="gameinfobig">
			<fileTypeForGameList>boxfront</fileTypeForGameList>
			<fileTypeForGameListSelected>title</fileTypeForGameListSelected>			
			<fileTypeForGameInfoViewBackground>boxfront</fileTypeForGameInfoViewBackground>
			<fileTypeForMainView1>boxfront</fileTypeForMainView1>
			<fileTypeForMainView2>boxfront</fileTypeForMainView2>
			<fileTypeForMainView3>boxfront</fileTypeForMainView3>
			<fileTypeForMainViewGameInfoBig>boxfront</fileTypeForMainViewGameInfoBig>
			<fileTypeForMainViewGameInfoUpperLeft>boxfront</fileTypeForMainViewGameInfoUpperLeft>
			<fileTypeForMainViewGameInfoUpperRight>boxfront</fileTypeForMainViewGameInfoUpperRight>
			<fileTypeForMainViewGameInfoLowerLeft>boxfront</fileTypeForMainViewGameInfoLowerLeft>
			<fileTypeForMainViewGameInfoLowerRight>boxfront</fileTypeForMainViewGameInfoLowerRight>
			<fileTypeForMainViewVideoWindowSmall>boxfront</fileTypeForMainViewVideoWindowSmall>			
			<fileTypeForGameInfoViewGamelist>boxfront</fileTypeForGameInfoViewGamelist>
			<fileTypeForGameInfoView1>boxfront</fileTypeForGameInfoView1>
			<fileTypeForGameInfoView2>boxfront</fileTypeForGameInfoView2>
			<fileTypeForGameInfoView3>boxfront</fileTypeForGameInfoView3>
			<fileTypeForGameInfoView4>boxfront</fileTypeForGameInfoView4>
			<fileTypeForGameInfoViewVideoWindow>boxfront</fileTypeForGameInfoViewVideoWindow>
		</fileTypeFor>
	</ImagePlacing>
	<Scrapers>
		<Site name="Amiga V1" descFilePerGame="false" searchGameByCRC="false">
			<Scraper parseInstruction="C:\Users\lom\AppData\Roaming\XBMC\addons\script.games.rom.collection.browser.dev\resources\lib\TestDataBase\V1 - Amiga - ff - descforall\parserConfig.xml" source="TestDataBase\V1 - Amiga - ff - descforall\synopsis\synopsis.txt" encoding="iso-8859-1"/>
		</Site>
		<Site name="Amiga V2" descFilePerGame="true" searchGameByCRC="false">
			<Scraper parseInstruction="C:\Users\lom\AppData\Roaming\XBMC\addons\script.games.rom.collection.browser.dev\resources\lib\TestDataBase\V2 - Amiga - ff - descpergame\parserConfig.xml" source="TestDataBase\V2 - Amiga - ff - descpergame\synopsis\%GAME%\synopsis.txt" encoding="iso-8859-1"/>
		</Site>
		<Site name="SNES V3" descFilePerGame="false" searchGameByCRC="false">
			<Scraper parseInstruction="C:\Users\lom\AppData\Roaming\XBMC\addons\script.games.rom.collection.browser.dev\resources\lib\TestDataBase\V3 - SNES - ff - descforall\parserConfig.xml" source="TestDataBase\V3 - SNES - ff - descforall\description\synopsis.txt" encoding="iso-8859-1" />
		</Site>
		<Site name="SNES V4" descFilePerGame="false" searchGameByCRC="true">
			<Scraper parseInstruction="C:\Users\lom\AppData\Roaming\XBMC\addons\script.games.rom.collection.browser.dev\resources\lib\TestDataBase\V4 - SNES - ff - descforall - subfolder\parserConfig.xml" source="TestDataBase\V4 - SNES - ff - descforall - subfolder\Synopsis\synopsis.txt" encoding="iso-8859-1"/>	
		</Site>		
		<Site name="Xbox V5" descFilePerGame="false" searchGameByCRC="false" useFoldernameAsCRC="true">
			<Scraper parseInstruction="C:\Users\lom\AppData\Roaming\XBMC\addons\script.games.rom.collection.browser.dev\resources\lib\TestDataBase\V5 - Xbox - ff - descforall\parserConfig.xml" source="TestDataBase\V5 - Xbox - ff - descforall\synopsis.txt" encoding="iso-8859-1"/>
		</Site>		
		<Site name="Sega 32 V6" descFilePerGame="true" searchGameByCRC="false">
			<Scraper parseInstruction="C:\Users\lom\AppData\Roaming\XBMC\addons\script.games.rom.collection.browser.dev\resources\lib\TestDataBase\V6 - Sega32 - xml - descpergame\parserConfig.xml" source="TestDataBase\V6 - Sega32 - xml - descpergame\Synopsis\%GAME%.xml" encoding="iso-8859-1"/>
		</Site>
		<Site name="Sega 32 V7" descFilePerGame="false" searchGameByCRC="false" useFilenameAsCRC="true">
			<Scraper parseInstruction="C:\Users\lom\AppData\Roaming\XBMC\addons\script.games.rom.collection.browser.dev\resources\lib\TestDataBase\V7 - Sega32 - xml - descforall\parserConfig.xml" source="TestDataBase\V7 - Sega32 - xml - descforall\synopsis.xml" replaceKeyString="%REPLACEKEYS%" replaceValueString="%REPLACEVALUES%" encoding="iso-8859-1"/>
		</Site>

		
		<Site name="local nfo" descFilePerGame="true">
		  <Scraper parseInstruction="00 - local nfo.xml" source="nfo" />
		</Site>
		<Site name="thevideogamedb.com" descFilePerGame="true">
		  <Scraper parseInstruction="01 - thevideogamedb.xml" source="http://thevideogamedb.com/API/GameDetail.aspx?apikey=%VGDBAPIKey%&amp;crc=%CRC%" />
		</Site>
		<Site name="thegamesdb.net" descFilePerGame="true">
		  <Scraper parseInstruction="02 - thegamesdb.xml" source="http://thegamesdb.net/api/GetGame.php?name=%GAME%" />
		</Site>
		<Site name="giantbomb.com" descFilePerGame="true">
		  <Scraper parseInstruction="03.01 - giantbomb - search.xml" replaceKeyString="%REPLACEKEYS%" replaceValueString="%REPLACEVALUES%" returnUrl="true" source="http://api.giantbomb.com/search/?api_key=%GIANTBOMBAPIKey%&amp;query=%GAME%&amp;resources=game&amp;field_list=api_detail_url,name&amp;format=xml" />
		  <Scraper parseInstruction="03.02 - giantbomb - detail.xml" source="1" />
		</Site>
		<Site descFilePerGame="True" name="mobygames.com" searchGameByCRC="False">
		  <Scraper parseInstruction="04.01 - mobygames - gamesearch.xml" returnUrl="true" source="http://www.mobygames.com/search/quick?game=%GAME%&amp;amp;p=%PLATFORM%" />
		  <Scraper parseInstruction="04.02 - mobygames - details.xml" source="1" />
		  <Scraper parseInstruction="04.03 - mobygames - coverlink front.xml" returnUrl="true" source="1" sourceAppend="cover-art" />
		  <Scraper parseInstruction="04.04 - mobygames - coverdetail front.xml" source="2" />
		  <Scraper parseInstruction="04.05 - mobygames - coverlink back.xml" returnUrl="true" source="1" sourceAppend="cover-art" />
		  <Scraper parseInstruction="04.06 - mobygames - coverdetail back.xml" source="3" />
		  <Scraper parseInstruction="04.07 - mobygames - coverlink media.xml" returnUrl="true" source="1" sourceAppend="cover-art" />
		  <Scraper parseInstruction="04.08 - mobygames - coverdetail media.xml" source="4" />
		  <Scraper parseInstruction="04.09 - mobygames - screenshotlink.xml" returnUrl="true" source="1" sourceAppend="screenshots" />
		  <Scraper parseInstruction="04.10 - mobygames - screenshot detail.xml" source="5" />
		</Site>
		<Site name="maws.mameworld.info" descFilePerGame="true">
		  <Scraper encoding="iso-8859-1" parseInstruction="06 - maws.xml" source="http://maws.mameworld.info/maws/romset/%GAME%" />
		</Site>

	</Scrapers>
</config>
