<config>
	<RCBSettings>
		<favoriteConsole></favoriteConsole>
		<favoriteGenre></favoriteGenre>
		<showEntryAllConsoles>True</showEntryAllConsoles>
		<showEntryAllGenres>True</showEntryAllGenres>
		<showEntryAllYears>True</showEntryAllYears>
		<showEntryAllPublisher>True</showEntryAllPublisher>
		<saveViewStateOnExit>True</saveViewStateOnExit>
		<saveViewStateOnLaunchEmu>True</saveViewStateOnLaunchEmu>
	</RCBSettings>
	<Consoles>		
		<Console>
			<name>Amiga</name>
			<desc>The Amiga 500, also known as the A500 (or its code name Rock Lobster), was the first low-end Commodore Amiga 16/32-bit multimedia home/personal computer. It was announced at the winter Consumer Electronics Show in January 1987, at the same time as the high-end Amiga 2000, and competed directly against the Atari 520ST.</desc>
			<imgFile>E:\Emulatoren\data\consoleImages\uae.png</imgFile>
		</Console>
		<Console>
			<name>Super Nintendo</name>
			<desc>The Super Nintendo (SNES) is a 16-bit video game console released in 1990. 32768 (15-bit) colors, 8 channels 16-bit 32 kHz audio channels. 128 kB main RAM, 64 kB Video RAM and 64 kB Audio RAM.</desc>
			<imgFile>E:\Emulatoren\data\consoleImages\zsnes.png</imgFile>
		</Console>
	</Consoles>
	<RomCollections>
		<RomCollection>			
			<name>Collection V3</name>
			<consoleName>Amiga</consoleName>
			<emulatorCmd>E:\Emulatoren\WINUAE\winuae.exe -f "E:\Emulatoren\WINUAE\Configurations\Host\Amiga 500.uae" {-%I% "%ROM%"}</emulatorCmd>
			<useEmuSolo>True</useEmuSolo>
			<escapeCommand>True</escapeCommand>
			<relyOnNaming>True</relyOnNaming>
			<startWithDescFile>False</startWithDescFile>
			<descFilePerGame>True</descFilePerGame>
			<descriptionParserFile>E:\Emulatoren\data\Amiga\Collection V3\parserConfig.xml</descriptionParserFile>
			<diskPrefix>_Disk</diskPrefix>
			<typeOfManual>Text</typeOfManual>
			<allowUpdate>True</allowUpdate>
			<romPath>E:\Emulatoren\data\Amiga\games\*.adf</romPath>
			<romPath>E:\Emulatoren\data\Amiga\games\*.ADF</romPath>
			<descFilePath>E:\Emulatoren\data\Amiga\Collection V3\%GAME%\synopsis.txt</descFilePath>
			<coverPath>E:\Emulatoren\data\Amiga\Collection V3\%GAME%\covers\*.jpg</coverPath>
			<coverPath>E:\Emulatoren\data\Amiga\Collection V3\%GAME%\covers\*.gif</coverPath>
			<coverPath>E:\Emulatoren\data\Amiga\Collection V3\%GAME%\covers\*.png</coverPath>
			<ingamescreenshotPath>E:\Emulatoren\data\Amiga\Collection V3\%GAME%\screens\*.jpg</ingamescreenshotPath>
			<ingamescreenshotPath>E:\Emulatoren\data\Amiga\Collection V3\%GAME%\screens\*.gif</ingamescreenshotPath>
			<ingamescreenshotPath>E:\Emulatoren\data\Amiga\Collection V3\%GAME%\screens\*.png</ingamescreenshotPath>
			<titleScreenshotPath></titleScreenshotPath>
			<cartridgePath></cartridgePath>
			<configFilePath></configFilePath>
			<ingamevidPath></ingamevidPath>
			<trailerPath></trailerPath>
			<manualPath></manualPath>
		</RomCollection>
	</RomCollections>
	<!-- Don't edit filetypes -->
	<FileTypes>
		<FileType>
			<name>rom</name>
		</FileType>
		<FileType>
			<name>screenshottitle</name>
		</FileType>
		<FileType>
			<name>screenshotingame</name>
		</FileType>
		<FileType>
			<name>cover</name>
		</FileType>
		<FileType>
			<name>cartridge</name>
		</FileType>
		<FileType>
			<name>manual</name>
		</FileType>
		<FileType>
			<name>ingamevideo</name>
		</FileType>
		<FileType>
			<name>trailer</name>
		</FileType>
		<FileType>
			<name>description</name>
		</FileType>
		<FileType>
			<name>configuration</name>
		</FileType>
	</FileTypes>	
</config>
